{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home">
  <section class="home__hero">
    <div class="home__hero--content">
      <h2 class="home__hero--title">
        <div>Cool</div>
        <img src="{% static 'images/logo.svg' %}" alt="Image of a globe" class="logo__image">
        <div>School</div>
      </h2>
      <p class="home__hero--subtitle">
        The safest place for your children to develop their mental and physical abilities.
      </p>
      <a href="{% url 'account_signup' %}" class="home__hero--button">
        Get started
      </a>
    </div>
  </section>
  <div class="benefits">

    <div class="benefits__card">
      <div class="benefits__card--image">
        <img src="{% static 'images/hand.svg' %}" alt="Family values">
      </div>
      <div class="benefits__card--content">
        <p class="benefits__card--text">
          Fostering a supportive learning environment.
        </p>
      </div>
    </div>

    <div class="benefits__card">
      <div class="benefits__card--image">
        <!-- <i class="fas fa-hand-holding-heart"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-chess-queen"></i>
        <i class="fas fa-people-carry"></i>
        <i class="fas fa-graduation-cap"></i>
        <i class="fas fa-balance-scale"></i> -->
        <img src="{% static 'images/family_care.svg' %}" alt="Family values">
      </div>
      <div class="benefits__card--content">
        <p class="benefits__card--text">
          Grow fundamental values and responsibilities
        </p>
      </div>
    </div>

    <div class="benefits__card">
      <div class="benefits__card--image">
        <img src="{% static 'images/teacher.svg' %}" alt="Family values">
      </div>
      <div class="benefits__card--content">
        <p class="benefits__card--text">
          Most trusted teachers among all country!
        </p>
      </div>
    </div>
  </div>
  <div class="incentive">
    <div class="incentive__content">
      <p class="incentive__content--text">
        Each child is unique! And each child has unique learning abilities, preferences, and interests.
        We offer a wide range of activities to help your little baby to become a confident and eager learner. We assist
        each of our students on their way to pick their own path in the future.
      </p>
    </div>
    <div class="incentive__image">
      <img src="" alt="">
    </div>
  </div>
  <div class="personnel">
    <div class="incentive__image">
      <img src="" alt="">
    </div>
    <div class="incentive__content">
      <p class="incentive__content--text">
        The wellbeing and education of your child is our highest priority!
        All our personnel has been regularly put into extra-training in order to keep up with all upcoming changes
        in the field of education. Our childcare experts are able to provide up-to-date knowledge to each student.
      </p>
    </div>
  </div>
  <div class="incentive">
    <div class="incentive__content">
      <p class="incentive__content--text">
        We do care about children's health as it is fundamental part of their development. That is why we regularly
        serve healthy and nutritionally balanced meals, which prepared out of the freshest produce. Moreover, we
        organize everyday physical activities in order to deter children from developing sedentary life habits.
      </p>
    </div>
    <div class="incentive__image">
      <img src="" alt="">
    </div>
  </div>
  <div class="contact">
    <div class="contact__content">
      <p class="contact__content--text">
        Do not hesitate to make your child a part of our community!
      </p>
    </div>
    <div class="contact__button">
      <a href="{% url 'account_signup' %}" class="home__hero--button">
        Get started
      </a>
    </div>
  </div>
  {% endblock %}