{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="home">
  <section class="home__hero">
    <div class="home__hero--content">
      <h2 class="home__hero--title">
        CoolSchool
      </h2>
      <p class="home__hero--subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <a href="#" class="home__hero--button">
        Get started
      </a>
    </div>
  </section>
  <section class="benefits">
    <div class="benefits__content">
      <h3 class="benefits__content--title">benefits</h3>
      <p class="benefits__content--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut facere placeat
        molestiae qui sapiente maiores eum
        totam quia repudiandae quis aliquid similique aliquam incidunt, quibusdam architecto fuga labore veniam
        voluptatem.</p>
    </div>
    <div class="benefits__image"></div>

  </section>
  {% endblock %}