{% extends "base.html" %}
{% load static %}

{% block content %}

{% if request.user.role != 4 or request.user.role != 5 %}

<h2>Student's data</h2>

{% if request.user.role == 0 or request.user.role == 2 %}

<a href="{% url 'student_edit' pk=student.pk %}">Edit student's data</a>
<a href="{% url 'student_delete' pk=student.pk %}">Delete student's data</a>

{% endif %}

<div>
  First name: {{ student.first_name}}
</div>
<div>
  Last name: {{ student.last_name}}
</div>
<div>
  Birthday: {{ student.birthday}}
</div>
<div>
  Address: {{ student.address}}
</div>


{% for parent in student.get_parents %}
<div>
  Parents: {{ parent }}
  <a href="{% url 'user_profile' username=parent.user.username %}">Visit profile</a>
</div>
{% endfor %}


<div>
  Notes: {{ student.notes}}
</div>

<div>
  Classes left: {{ student.classes_left}}
</div>

<div>
  {% if student.has_classes_left %}
  Urgent call
  {% endif %}
</div>

{% for sales_manager in student.get_sales_managers %}
<div>
  Sales Manager: {{ sales_manager }}
  <a href="{% url 'user_profile' username=sales_manager.user.username %}">Visit profile</a>
</div>
{% endfor %}

<div>
  Enrolled since: {{ student.enrolled|date:'m/d/Y'}}
</div>
<div>
  {{ lessons.count }} lessons
</div>
<div>
  {% for lesson in lessons %}
  <div>
    <a href="
    {% url 'lesson_detail' pk=lesson.pk %}">
      {{ lesson.date|date:'m/d/Y' }}
      {{ lesson.get_subject }}
    </a>
  </div>
  {% endfor %}
</div>

{% else %}
<p>You are not authorized to view this page</p>
{% endif %}

{% endblock %}