{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="student">
  {% if request.user.role != 4 or request.user.role != 5 %}



  {% if request.user.role == 0 or request.user.role == 2 %}
  <div class="student__edit">
    <a href="{% url 'student_edit' pk=student.pk %}" class="student__btn student__edit--btn">
      <div class=" student__btn--text">Edit
      </div>
      <i class="fas fa-edit  student__btn--icon"></i>
    </a>
    <a href="{% url 'student_delete' pk=student.pk %}" class="student__btn student__delete--btn">
      <div class="student__btn--text">Delete</div>
      <i class="fas fa-trash-alt student__btn--icon"></i>
    </a>
  </div>
  {% endif %}

  <h2 class="student__title">Student's data</h2>

  <div class="student__info">
    <div class="student__data">
      <div class="student__data--heading">Full name:</div>
      <div class="student__data--info">
        {{ student.first_name|title }} {{ student.last_name|title }}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Birthday:</div>
      <div class="student__data--info">
        {{ student.birthday }}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Address:</div>
      <div class="student__data--info">
        {{ student.address }}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Parents:</div>
      <div class="student__data--info">
        {% for parent in student.get_parents %}
        <div class="links">
          <a href="{% url 'user_profile' username=parent.user.username %}" class="links__btn links__btn--name">
            <div class="student__btn--text">
              {{ parent|title }} ({{parent.get_relation }})
            </div>
            <i class="fas fa-external-link-alt student__btn--icon"></i>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Notes:</div>
      <div class="student__data--info">
        {{ student.notes }}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Classes left:</div>
      <div class="student__data--info">
        {{ student.classes_left }}
      </div>
      <div class="student__label">
        {% if student.has_classes_left %}
        <a href="{% url 'sales_list' %}" class="label__btn label__btn--name">
          <div class="student__btn--text">
            Urgent call
          </div>
          <i class="fas fa-exclamation-circle student__btn--icon"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Sales Managers:</div>
      <div class="student__data--info">
        {% for sales_manager in student.get_sales_managers %}
        <div class="links">

          <a href="{% url 'user_profile' username=sales_manager.user.username %}" class="links__btn links__btn--name">
            <div class="student__btn--text">
              {{ sales_manager|title }}
            </div>
            <i class="fas fa-external-link-alt student__btn--icon"></i>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="student__data">
      <div class="student__data--heading">Enrolled date:</div>
      <div class="student__data--info">
        {{ student.enrolled|date:'m/d/Y' }}
      </div>
    </div>
  </div>
</div>
<h3>Search by date</h3>
<form method="POST">
  {% csrf_token %}
  From: <input type="date" name="from_date">
  To: <input type="date" name="to_date">
  <input type="submit" value="search">
  <div class="lessons">

    <div>
      {{ lessons|length }} sales found
    </div>
    <div>
      {% for lesson in lessons %}
      <div>
        <a href="{% url 'lesson_detail' pk=lesson.pk %}">
          {{ lesson.date|date:'m/d/Y' }}
          {{ lesson.get_subject }}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</form>

{% else %}
<p>You are not authorized to view this page</p>
{% endif %}


{% endblock %}