{% extends "base.html" %}
{% load static %}

{% block extra_js %}
  <script>
    const input = document.getElementById('search_here')
    console.log(input)

    const search = (e) => {
      let members = document.querySelectorAll('.student')
      members.forEach(element => {
        element.style.display = "none"
      });
      let searchData = input.value
      members.forEach(element => {
        if (element.innerText.includes(searchData)) {
          element.style.display = "block"
        }
      });
    }
    input.addEventListener("keyup", search)
  </script>
{% endblock %}

{% block content %}
  
  {% if request.user.role == 4 or request.user.role == 5 %}
  {% comment %} Access limitation for all users accept bosses and sales managers {% endcomment %}
      <div class="access">
        <div class="access__error">
          <div class="access__error--image">
            <img src="{% static 'images/foxy_emoji.svg' %}" alt="Access error">
          </div>
          <p class="access__error--text">You are not authorized to view this page!</p>
          <div class="links">
            <a href="{% url 'user_profile' username=request.user %}" class="links__btn links__btn--name links__btn--content">
              <div class="profile__btn--text">
                Back to your profile
              </div>
              <i class="fas fa-external-link-alt profile__btn--icon"></i>
            </a>
          </div>
        </div>
      </div>
  {% else %}
  {% comment %} Students search page with limited access only for school staff {% endcomment %}
    {% if request.user.role == 0 or request.user.role == 2 %}
    <div class=students>
      <div class="students__header">
        <h2 class="students__title">All students:</h2>
        <a href="{% url 'student_add' %}" class="student__btn student__add--btn students__btn">
          <div class="student__btn--text">
            Add new student
          </div>
          <i class="fas fa-plus-circle student__btn--icon"></i>
        </a>
      </div>
    {% endif %}

      {% if students.count == 0 %}

    <p>No students in database</p>

    {% else %}
    <form method="POST">
      {% csrf_token %}

      <div class="students__sort">
        <div class="students__sort--item">
          <label class="" for="all">
            <input type="radio" class="" name="classes" value="all" id="all">
            <span class="sort__check">
              <i class="fas fa-user-friends"></i>
            </span>
          </label>
          <div>all students</div>
        </div>
        <div class="students__sort--item">
          <label class="" for="urgent">
            <input type="radio" class="" name="classes" value="urgent" id="urgent">
              <span class="sort__check">
                <i class="fas fa-exclamation-circle"></i>
              </span>
          </label>
          <div>urgent call</div>
        </div>
        <input type="submit" value="Search">
      </div>
          <div>
      {{ students|length }} students found
    </div>
      <input type="text" id="search_here" class="from-control" placeholder="type sth">
      <div id="box">
        {% for student in students %}
        <div class="student">
          <div>
            {{ student.first_name }} {{ student.last_name }}
          </div>
          <a href="{% url 'student_detail' pk=student.pk %}">Open student data</a>
          {% if student.has_classes_left %}
          <div class="label__btn label__btn--name">
              <div class="student__btn--text">
                Urgent call
              </div>
              <i class="fas fa-exclamation-circle student__btn--icon"></i>
          </div>
          {% endif %}
        </div>


        {% endfor %}
      </div>
    </form>
    {{ students_urgent }}
    {% endif %}
    </div>
  {% endif %}
{% endblock %}