{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Students{% endblock %}

{% block content %}
  {% comment %} Students search page with limited access only for school staff {% endcomment %}
  <div class=students>
    {% comment %} Limit access for adding student only for bosses and sales managers {% endcomment %}
    <div class="students__header">
      <h2 class="students__title">All students:</h2>
      {% if request.user.role == 0 or request.user.role == 2 %}
        <a href="{% url 'student_add' %}" aria-label="Go to Add Student page"
          class="student__btn student__add--btn students__btn">
          <div class="sales__btn--text">
            Add new student
          </div>
          <i class="fas fa-plus-circle student__btn--icon"></i>
        </a>
      {% endif %}
    </div>    
    {% comment %} Search and sort students form {% endcomment %}
    <form method="POST" class="students__form">
      {% csrf_token %}
      {% comment %} Students Search by name {% endcomment %}
      <div class="students__search">
        <input type="text" id="student-search_here" class="from-control" placeholder="Type a name">
        <div class="search__btn students__undo--btn" id="students-search-undo">
          <i class="fas fa-undo-alt profile__btn--icon"></i>
        </div>
      </div>
      <div class="students__search--instructions">
        <strong>* </strong>Remember: search is case-insensitive.
      </div>
      {% comment %} Students Sort by urgent call {% endcomment %}
      <div class="students__sort">
        <div class="students__sort--item">
          <input type="radio" class="" name="classes" value="all" id="all" checked>
          <label class="students__sort--name" for="all">all students</label>
        </div>
        <div class="students__sort--item">
          <input type="radio" class="" name="classes" value="urgent" id="urgent">
          <label class="students__sort--name" for="urgent">urgent call</label>
        </div>
        <button type="submit" value="search" class="search__btn students__search--btn">
          Search <i class="fas fa-search search__btn--icon"></i>
        </button>
      </div>
      <div class="students__sort--instructions">
        <strong>* </strong>Select icon to sort students and click search.
      </div>
      <div class="students__summary">
        {{ students|length }} students of {{ students_number }}
      </div>
      {% comment %} Students data results {% endcomment %}
      <div id="box" class="students__results">
        {% for student in students %}
          <div class="students__student students__results--item">
            <a href="{% url 'student_detail' pk=student.pk %}" aria-label="Go to Student's Detail page"
              class="links__btn links__btn--name">
              <div class="profile__btn--text">
                {{ student.first_name }} {{ student.last_name }}
              </div>
              <i class="fas fa-external-link-alt profile__btn--icon"></i>
              {% if student.has_classes_left %}
                <div class="students__label">
                  <i class="fas fa-exclamation-circle"></i>
                </div>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </form>
    <div class="pagination">
      <div class="pagination__navigation">
        {% if students.has_previous and not students.has_next %}
          <a href="?page={{ students.previous_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to previous page results">
            <i class="fas fa-chevron-left"></i>
          </a>
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-right"></i>
          </div>
        {% elif students.has_next and not students.has_previous %}
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-left"></i>
          </div>
          <a href="?page={{ students.next_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to next page results">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% elif students.has_next and students.has_previous %}
          <a href="?page={{ students.previous_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to previous page results">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a href="?page={{ students.next_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to next page results">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% else %}
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-right"></i>
          </div>
        {% endif %}
      </div>
      <div class="pagination__location">
        Page {{ students.number }} of {{ students.paginator.num_pages }}
      </div>
    </div>
  </div>
{% endblock %}