{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Profiles{% endblock %}

{% block content %}
  {% comment %} Access limitation {% endcomment %}
  <div class="access">
    <div class="access__error">
      <div class="access__error--image">
        <img src="{% static 'images/foxy_emoji.svg' %}" alt="Access error">
      </div>
      <p class="access__error--text">You are not authorized to view this page!</p>
      <div class="links">
        <a href="{% url 'user_profile' username=request.user %}" class="links__btn links__btn--name links__btn--content">
          <div class="profile__btn--text">
            Back to your profile
          </div>
          <i class="fas fa-external-link-alt profile__btn--icon"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}