{% extends "base.html" %}
{% load static %}

{% block extra_js %}
  {% comment %}  {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('select').addClass('js-example-basic-single');

      $('.js-example-basic-single').select2({
        placeholder: 'Type name to search',
      });
      $('#div_id_assigned_to').css('width', '100%');
      $('.select2').css('width', '100%');
    });
  </script>
{% endblock%}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Aplications{% endblock %}

{% block content %}
  {% comment %} Application detail page with access only for bosses and managers {% endcomment %}
  <div class="applications">
    <h2 class="applications__title">Application's Details</h2>
    {% comment %} Applicant's data {% endcomment %}
    {% if new_application %}
      <div class="application">
        {% if request.user.role == 0 %}
          <div class="application__delete">
            <a href="{% url 'application_delete' username=request.user pk=new_application.pk %}"
              aria-label="Go to Delete Application page" class="profile__btn application__delete--btn">
              <div class="application__btn--text">Delete</div>
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
        {% endif %}
        <div class="application__data">
          <span>Name:</span>
          {{ new_application.first_name }} {{ new_application.last_name }}
        </div>
        <div class="application__data">
          <span>Phone:</span>
          {{ new_application.phone }}
        </div>
        <div class="application__data">
          <span>Email:</span>
          {{ new_application.email }}
        </div>
      </div>
      {% comment %} Assigning role by boss {% endcomment %}
      {% if request.user.role == 0 %}
        <div class="role__form--container">
          {% comment %} Role assignement form {% endcomment %}
          <form method="POST" class="role__form">
            <h3 class="role__form--title">Assign role:</h3>
            {% csrf_token %}
            {{ form|crispy }}
            {% comment %} Role Form Confirm button {% endcomment %}
            <div class="role__button">
              <button type="submit" class="profile__form--btn profile__btn role__confirm--btn">
                <div class="profile__btn--text">Save</div>
                <i class="fas fa-save"></i>
              </button>
            </div>
          </form>
        </div>
      {% endif %}
      <a href="{% url 'new_applications' username=request.user %}" aria-label="Go to All New applications page"
        class="application__link">
        <div class="application__link--text">Go to other application</div>
        <i class="fas fa-long-arrow-alt-right"></i>
      </a>
    {% else %}
      <p class="applications__number">Application is not found</p>
    {% endif %}
  </div>
{% endblock %}