{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Delete application page</h2>

{% if request.user.role == 0 %}
<form method="post">
  {% csrf_token %}
  <div>
    <div>Are you sure you want to delete project: </div>
    <div> "{{ new_application.phone }}" ?</div>
    <div>The application will be permanently deleted.</div>
  </div>
  <div>
    <a href="{% url 'application_detail' username=request.user pk=new_application.pk %}">Go
      back</a>
    <button type="submit" name="delete">Delete</button>
  </div>
</form>

{% else %}
<p>You are not authorized to view this page</p>
{% endif %}

{% endblock %}