<h2>Application's Details</h2>

{% if request.user.role == 0 or request.user.role == 1 %}
{% if new_application %}
{{ new_application.first_name }}
{{ new_application.last_name }}
{{ new_application.phone }}
{{ new_application.email }}
{{ new_application.role }}

{% if request.user.role == 0 %}
<div>Assign role</div>

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit">Submit</button>

</form>
<a href="{% url 'application_delete' phone=request.user.phone pk=new_application.pk %}">Delete application</a>
{% endif %}

{% else %}
<p>Applications not found</p>
{% endif %}
{% else %}
<p>You are not authorized to view this page</p>
{% endif %}