<h2>Application's Details</h2>


{{ new_application.first_name }}
{{ new_application.last_name }}
{{ new_application.phone }}
{{ new_application.email }}
{{ new_application.role }}

{% if request.user.role == 0 %}
<div>Assign role</div>
<!-- Change new_application role -->
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit">Submit</button>

</form>
<a href="{% url 'application_delete' phone=request.user.phone pk=new_application.pk %}">Delete application</a>
{% endif %}