{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Delete application page</h2>

{% if request.user.role == 0 %}
<form method="post">
  {% csrf_token %}
  <div>
    <div>Are you sure you want to delete user: </div>
    <div> "{{ new_application.first_name }} {{ new_application.last_name }}" ?</div>
    <div>The application will be permanently deleted.</div>
  </div>
  <div>
    <a href="{% url 'application_detail' username=request.user pk=new_application.pk %}">Go
      back</a>
    <button type="submit" name="delete">Delete</button>
  </div>
</form>

{% else %}
{% comment %} Access limitation for all users except bosses {% endcomment %}
<div class="access">
  <div class="access__error">
    <div class="access__error--image">
      <img src="{% static 'images/foxy_emoji.svg' %}" alt="Access error">
    </div>
    <p class="access__error--text">You are not authorized to view this page!</p>
    <div class="links">
      <a href="{% url 'user_profile' username=request.user %}" class="links__btn links__btn--name links__btn--content">
        <div class="profile__btn--text">
          Back to your profile
        </div>
        <i class="fas fa-external-link-alt profile__btn--icon"></i>
      </a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}