{% extends 'base.html' %}

{% block content %}
<div class="profile">
  <div class="profile__form--container">
    <div class="profile__form">
      <h2 class="profile__form--title">Delete Member</h2>

      <form method="POST" class="profile__form">
        {% csrf_token %}
        <div>
          <div>Are you sure you want to delete member: </div>
          <div> {{ member.first_name }} {{ member.last_name}} ?</div>
          <div>This Member will be permanently deleted from database.</div>
        </div>
        <div class="profile__buttons">
          <a href="{% url 'user_profile' username=member.username %}"
            class="profile__form--btn profile__btn profile__back--btn">
            <div class=" profile__btn--text">Go back
            </div>
            <i class="far fa-window-close  profile__btn--icon"></i>
          </a>
          <button type="submit" name="delete" class="profile__form--btn profile__btn profile__confirm--btn">
            <div class="profile__btn--text">Delete</div>
            <i class="fas fa-trash-alt profile__btn--icon"></i>
          </button>
        </div>
    </div>
    </form>
  </div>
</div>


{% endblock %}