{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 style="color: black;">New application</h2>
{% if request.user.role == 0 or request.user.role == 1 %}
{% if applications.count == 0 %}
<p style="color: black;">Applications not found</p>
{% else %}
<!-- get new applications -->
<div class="applications" style="color: black;">

  <ul>
    {% for application in new_applications %}
    <li>
      <a href="{% url 'application_detail' username=request.user pk=application.pk %}">
        {{ application }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>





{% endif %}
{% else %}
<p style="color: black;">You are not authorized to view this page</p>
{% endif %}

{% endblock %}