{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 style="color: black;">New application</h2>
{% if request.user.role == 0 or request.user.role == 2 %}
{% if applications.count == 0 %}
<p style="color: black;">Applications not found</p>
{% else %}
<!-- get new applications -->
<div class="applications">

  <ul>
    {% for application in new_applications %}
    <div class="links">
      <a href="{% url 'application_detail' username=request.user pk=application.pk %}"
        class="links__btn links__btn--name">
        <div class="profile__btn--text">
          {{ application.first_name }} {{ application.last_name }}
        </div>
        <i class="fas fa-external-link-alt profile__btn--icon"></i>
      </a>
    </div>
    {% endfor %}
  </ul>
</div>





{% endif %}
  {% else %}
    {% comment %} Access limitation, access only to bosses and managers {% endcomment %}
    <div class="access">
      <div class="access__error">
        <div class="access__error--image">
          <img src="{% static 'images/foxy_emoji.svg' %}" alt="Access error">
        </div>
        <p class="access__error--text">You are not authorized to view this page!</p>
        <div class="links">
          <a href="{% url 'user_profile' username=request.user %}" class="links__btn links__btn--name links__btn--content">
            <div class="profile__btn--text">
              Back to your profile
            </div>
            <i class="fas fa-external-link-alt profile__btn--icon"></i>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}