{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Aplications{% endblock %}

{% block content %}
  {% comment %} New applications page with access only by bosses or managers {% endcomment %}
  <div class="applications">
    <h2 class="applications__title">New application</h2>
    {% comment %} Amount of new applications {% endcomment %}
    <div class="applications__number">{{ new_applications_number }} new applications found</div>
    {% comment %} All applications {% endcomment %}
    <div class="applications__results">
      {% for application in new_applications %}
      <div class="links">
        <a href="{% url 'application_detail' username=request.user pk=application.pk %}"
          aria-label="Go back to application Detail page" class="links__btn links__btn--name">
          <div class="profile__btn--text">
            <div>{{ application.first_name }}</div>
            <div>{{ application.last_name }}</div>
          </div>
          <i class="fas fa-external-link-alt profile__btn--icon"></i>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="pagination">
      <div class="pagination__navigation">
        {% if new_applications.has_previous and not new_applications.has_next %}
          <a href="?page={{ new_applications.previous_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to previous page results">
            <i class="fas fa-chevron-left"></i>
          </a>
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-right"></i>
          </div>
        {% elif new_applications.has_next and not new_applications.has_previous %}
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-left"></i>
          </div>
          <a href="?page={{ new_applications.next_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to next page results">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% elif new_applications.has_next and new_applications.has_previous %}
          <a href="?page={{ new_applications.previous_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to previous page results">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a href="?page={{ new_applications.next_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to next page results">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% else %}
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-right"></i>
          </div>
        {% endif %}
      </div>
      <div class="pagination__location">
        Page {{ new_applications.number }} of {{ new_applications.paginator.num_pages }}
      </div>
    </div>
  </div>
{% endblock %}