{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>All members</h2>

{% if request.user.role != 4 or request.user.role != 5 %}

<form method="POST">
  {% csrf_token %}

  <div>
    <input type="radio" class="" name="role" value="all" id="all">
    <label class="btn" for="all">all members</label>

    <input type="radio" class="" name="role" value="4" id="parents">
    <label class="btn" for="parents">Parents</label>

    <input type="radio" class="" name="role" value="1" id="teachers">
    <label class="btn" for="teachers">Teachers</label>

    <input type="radio" class="" name="role" value="2" id="sales">
    <label class="btn" for="sales">Sales</label>

    <input type="radio" class="" name="role" value="3" id="receptionists">
    <label class="btn" for="receptionists">Receptionists</label>

    <input type="submit" value="Search">
  </div>

  <input type="text" id="search_here" class="from-control" placeholder="type sth">
  <div id="box">
    {% for member in members %}
    <div class="member">
      <div>{{member}}</div>
      <div class="member__phone">{{member.phone}}</div>
      {% if member.role == 0 %}
      <div>Boss</div>
      {% elif member.role == 1 %}
      <div>Teacher</div>

      {% elif member.role == 2 %}
      <div>Sales</div>

      {% elif member.role == 3 %}
      <div>Receptionist</div>

      {% elif member.role == 4 %}
      <div>Parent</div>

      {% elif member.role == 5 %}
      <div>Potential Client</div>

      {% endif %}
      <a href="{% url 'user_profile' username=member.username %}">Visit profile</a>
      <br>
    </div>
    {% endfor %}
  </div>
</form>
{% else %}
<p>You are not authorized to view this page</p>
{% endif %}



<script>
  const input = document.getElementById('search_here')
  console.log(input)

  const search = (e) => {
    let members = document.querySelectorAll('.member')
    members.forEach(element => {
      element.style.display = "none"
    });
    let searchData = input.value
    members.forEach(element => {
      if (element.innerText.includes(searchData)) {
        element.style.display = "block"
      }
    });
  }
  input.addEventListener("keyup", search)
</script>

{% endblock %}