{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Profiles{% endblock %}

{% block content %}
  {% comment %} Limited access to members page only for staff {% endcomment %}
  <div class="members">
    <h2 class="members__title">Members:</h2>
    {% comment %} Sort members form {% endcomment %}
    <form method="POST" class="members__form">
      {% csrf_token %}
      {% comment %} Sorting members by role {% endcomment %}
      <div class="members__sort">
        <div class="members__sort--item">
          <input type="radio" class="" name="role" value="all" id="all" checked>
          <label class="members__sort--name" for="all">all members</label>
        </div>
        <div class="members__sort--item">
          <input type="radio" class="" name="role" value="4" id="parents">
          <label class="members__sort--name" for="parents">Parents</label>
        </div>
        <div class="members__sort--item">
          <input type="radio" class="" name="role" value="1" id="teachers">
          <label class="members__sort--name" for="teachers">Teachers</label>
        </div>
        <div class="members__sort--item">
          <input type="radio" class="" name="role" value="2" id="sales">
          <label class="members__sort--name" for="sales">Sales Managers</label>
        </div>
        <div class="members__sort--item">
          <input type="radio" class="" name="role" value="3" id="receptionists">
          <label class="members__sort--name" for="receptionists">Receptionists</label>
        </div>
        {% comment %} Submit selection button {% endcomment %}
        <button type="submit" value="search" class="search__btn members__search--btn">
          Search<i class="fas fa-search  search__btn--icon"></i>
        </button>
      </div>
      <div class="members__sort--instructions">
        <strong>* </strong>Select icon to sort members and click search.
      </div>
      <div class="members__summary">
        {{ members|length }} members found
      </div>
      <div class="members__search">
        <input type="text" id="members-search-here" class="from-control" placeholder="Type name or phone number...">
        <div class="search__btn members__undo--btn" id="members-search-undo">
          <i class="fas fa-undo-alt  profile__btn--icon"></i>
        </div>
      </div>
      <div class="members__search--instructions">
        <strong>* </strong>Remember: search is case-insensitive.
      </div>
      {% comment %} Displays members according to settings {% endcomment %}
      <div id="box" class="members__results">
        {% for member in members %}
          <a href="{% url 'user_profile' username=member.username %}"
            aria-label="Go to User Profile page" class="member links__btn links__btn--name members__results--item">
            <div class="profile__btn--text">
              <div class="">
                {{ member.first_name }} {{ member.last_name }}
              </div>
              <div class="member__role">
                {{ member.get_role_choices}}
              </div>
              <div class="member__phone"><i class="fas fa-phone-alt member__icon"></i>{{ member.phone }}</div>
            </div>
            <i class="fas fa-external-link-alt"></i>
          </a>
        {% endfor %}
      </div>
    </form>
  </div>
{% endblock %}