{% extends "base.html" %}
{% load static %}

{% block extra_js %}
{% comment %} Code to handle AJAX request for quardian status change {% endcomment %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
  // Function on load
  $(document).ready(function () {
    // Variable to show the guardian status of the user on the page
    const relations = {
      1: 'Father',
      2: 'Mother',
      3: 'Grandfather',
      4: 'Grandmother',
      5: 'Other'
    };
    // Show select form for guardian status
    $('#add_relation').click(function () {
      $('#add_relation').hide();
      $('#relation_select').show();
      $('#add_relation_btn').show();
      // Adding Django Form to the page
      $('#add_relation_btn').click(() => {
        let relation = $('#relation_select').val();
        let url = "{% url 'add_relation' %}";
        let data = {
          username: "{{ user_profile.username }}",
          relation: relation,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }
        // Ajax request to add guardian status
        $.ajax({
          url: "{% url 'add_relation' %}",
          type: 'POST',
          data: data,
          success: function (data) {
            console.log(data);
            let relation = data.relation;
            $('#relation_select').hide();
            $('#add_relation_btn').hide();
            $('#add_relation').show();
            $('#profile__relation--status').text(`( ${relations[relation]} )`);
          },
        });
      });
    });
  });

  {% comment %} Datepicker implementation {% endcomment %}
  $(function () {
    $("#datepicker1").datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $("#datepicker2").datepicker({
      dateFormat: 'yy-mm-dd',
    });
  });
</script>
{% endblock%}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Profiles{% endblock %}

{% block content %}
  {% comment %} If user is authenticated {% endcomment %}
  {% if user.is_authenticated %}
    <div class="profile">
      {% comment %} Delete member button with limited access only for bosses {% endcomment %}
      {% if request.user.role == 0 %}
        <div class="profile__delete">
          <a href="{% url 'delete_member' username=user_profile.username %}" aria-label="Go to Delete Member page"
            class="profile__btn profile__delete--btn">
            <div class="profile__btn--text">Delete</div>
            <i class="fas fa-trash-alt profile__btn--icon"></i>
          </a>
        </div>
      {% endif %}
      {% comment %} Render profile options if user is in their account {% endcomment %}
      {% if user_profile == request.user %}
        <div class="profile__edit">
          <a href="{% url 'user_profile_edit' username=request.user %}" aria-label="Go to Edit Profile page"
            class="profile__btn profile__edit--btn">
            <div class=" profile__btn--text">Edit</div>
            <i class="fas fa-edit  profile__btn--icon"></i>
          </a>
          <a href="{% url 'user_profile_change_password' username=request.user %}"
            aria-label="Go to Change Password page" class="profile__btn profile__password--btn">
            <div class=" profile__btn--text">Password</div>
            <i class="fas fa-unlock-alt profile__btn--icon"></i>
          </a>
        </div>
        <h2 class="profile__title">Your Profile:</h2>
      {% else %}
        <h2 class="profile__title">User's Profile:</h2>
      {% endif %}
      {% comment %} Role of the user {% endcomment %}
      {% if user_profile.role == 0 %}
      <div class="profile__role">(Admin)</div>
        {% elif user_profile.role == 1 %}
      <div class="profile__role">(Teacher)</div>
        {% elif user_profile.role == 2 %}
      <div class="profile__role">(Sales Manager)</div>
      {% elif user_profile.role == 3 %}
        <div class="profile__role">(Receptionist)</div>
      {% elif user_profile.role == 4 %}
        <div class="profile__role">(Parent)</div>
      {% endif %}
      {% comment %} Profile content {% endcomment %}
      <div class="profile__info">
        <div class="profile__data">
          <div class="profile__data--heading">Full name:</div>
          <div class="profile__data--info">
            {{ user_profile.first_name }} {{ user_profile.last_name }}
          </div>
        </div>
        <div class="profile__data">
          <div class="profile__data--heading">Phone number:</div>
          <div class="profile__data--info">
            {{ user_profile.phone }}
          </div>
        </div>
        <div class="profile__data">
          <div class="profile__data--heading">Email:</div>
          <div class="profile__data--info">
            {{ user_profile.email }}
          </div>
        </div>
      </div>

    {% comment %} Profile additional Data for Parent's profile {% endcomment %}
    {% if user_profile.role == 4 %}
      <h3 class="profile__children">Children:</h3>
      <div class="profile__children--data">
      {% for child in children %}
        <div class="profile__child--data">
          <div class="links">
            <a href="{% url 'student_detail' pk=child.pk%}" aria-label="Go to Student's Detail page"
              class="links__btn links__btn--name">
              <div class="profile__btn--text">
                {{ child.first_name }} {{ child.last_name }}
              </div>
              <i class="fas fa-external-link-alt profile__btn--icon"></i>
            </a>
          </div>
          <div class="profile__relation">
            <div class="profile__relation--status" id="profile__relation--status">
              ( {{ relation|title }} )
            </div>
            {% if user_profile == request.user %}
              <div class="add__relation">
                <button id="add_relation" class="profile__btn profile__edit--btn">
                  <div class=" profile__btn--text">Edit
                  </div>
                  <i class="fas fa-edit  profile__btn--icon"></i>
                </button>
                <select id="relation_select" style="display: none;" class="profile__select">
                  <option value="1">Father</option>
                  <option value="2">Mother</option>
                  <option value="3">Grandfather</option>
                  <option value="4">Grandmother</option>
                  <option value="5">Other</option>
                </select>
                <button id="add_relation_btn" style="display: none;" class="profile__btn profile__delete--btn">
                  <div class=" profile__btn--text">Save</div>
                  <i class="far fa-save  profile__btn--icon"></i>
                </button>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    </div>
  {% else %}
    {% comment %} Access limitation for all not authenticated users {% endcomment %}
    <div class="access">
      <div class="access__error">
        <div class="access__error--image">
          <img src="{% static 'images/foxy_emoji.svg' %}" alt="Access error">
        </div>
        <p class="access__error--text">You are not authorized to view this page!</p>
        <div class="links">
          <a href="{% url 'user_profile' username=request.user %}" aria-label="Go to Profile page"
            class="links__btn links__btn--name links__btn--content">
            <div class="profile__btn--text">
              Back to your profile
            </div>
            <i class="fas fa-external-link-alt profile__btn--icon"></i>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
  {% comment %} Profile additional Data for Teacher's profile {% endcomment %}
  {% if user_profile.role == 1 and user_profile == request.user or user_profile.role == 1 and request.user.role == 0 %}
  {% comment %} Access limitation to teachers classes data, only for bosess and the teacher {% endcomment %}
    <div class="classes">
      <h3 class="classes__title">Classes given:</h3>
      {% comment %} Get classes by time period for a teacher {% endcomment %}
      <form method="POST" class="classes__form">
        <h4 class="classes__form--heading">Search classes by date</h4>
        {% csrf_token %}
        <div class="classes__form--settings">
          <div class="datepicker__container">
            <div class="datepicker__container--title">From:</div>
            <input type="text" id="datepicker1" name="from_date" placeholder="mm-dd-yyyy">
          </div>
          <div class="datepicker__container">
            <div class="datepicker__container--title">To:</div>
            <input type="text" id="datepicker2" name="to_date" placeholder="mm-dd-yyyy">
          </div>
          <button type="submit" value="search" class="search__btn classes__form--btn">
            <div class=" profile__btn--text">Search</div>
            <i class="fas fa-search  profile__btn--icon"></i>
          </button>
        </div>
        {% comment %} Classes Results recieved {% endcomment %}
        <div class="classes__results">
          <div class="classes__results--summary">
            <strong>{{ lessons|length }}</strong> classes found
          </div>
          <div class="classes__results--container">
            {% for lesson in lessons %}
              <div class="classes__results--item">
                <a href="{% url 'lesson_detail' pk=lesson.pk %}" aria-label="Go to Lesson Detail page"
                  class="links__btn links__btn--name links__btn--classes">
                  <div class="profile__btn--text">
                    <div>{{ lesson.date|date:'m/d/Y' }}</div>
                    <div>{{ lesson.get_subject }}</div>
                  </div>
                  <i class="fas fa-external-link-alt profile__btn--icon"></i>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  {% endif %}
  {% comment %} Profile additional Data for Sales Manager's profile {% endcomment %}
  {% if user_profile.role == 2 %}
    <div class="sales__profile--summary">
      <h3 class="profile__students">Students:</h3>
      <div class="profile__students--amount">
        In charge of <strong>{{ children|length }}</strong> students
      </div>
      <div class="profile__students--data">
        {% for child in children %}
        <div class="profile__student--data">
          <div class="links">
            <a href="{% url 'student_detail' pk=child.pk%}" aria-label="Go to Student's page"
              class="links__btn links__btn--name">
              <div class="profile__btn--text">
                {{ child.first_name }} {{ child.last_name }}
              </div>
              <i class="fas fa-external-link-alt profile__btn--icon"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pagination">
      <div class="pagination__navigation">
        {% if children.has_previous and not children.has_next %}
          <a href="?page={{ children.previous_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to previous page results">
            <i class="fas fa-chevron-left"></i>
          </a>
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-right"></i>
          </div>
        {% elif children.has_next and not children.has_previous %}
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-left"></i>
          </div>
          <a href="?page={{ children.next_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to next page results">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% elif children.has_next and children.has_previous %}
          <a href="?page={{ children.previous_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to previous page results">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a href="?page={{ children.next_page_number }}" class="pagination__navigation--btn"
            aria-label="Go to next page results">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% else %}
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="pagination__navigation--fake">
            <i class="fas fa-chevron-right"></i>
          </div>
        {% endif %}
      </div>
      <div class="pagination__location">
        Page {{ children.number }} of {{ children.paginator.num_pages }}
      </div>
    </div>
      {% if user_profile.role == 2 and user_profile == request.user or request.user.role == 0 %}
        <h3 class="profile__sales">Sales made:</h3>
        <div class="profile__sales--amount"><strong>{{ sales|length }}</strong> sales made</div>
        <div class="links">
          <a href="{% url 'sales_list' %}" aria-label="Go to Sales page"
            class="links__btn links__btn--page">
            <div class="profile__btn--text">Open sales</div>
            <i class="fas fa-external-link-alt profile__btn--icon"></i>
          </a>
        </div>
        <div class="profile__sales--data">
          {% for sale in sales %}
            <div class="profile__student--data">
              <div class="links">
                <div class="links__btn links__btn--name">
                  <div class="profile__data--text">
                    {{ sale.date|date:'m/d/Y' }}
                    <br>
                    ({{ sale.amount }} classes)
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}