{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile">

  {% if request.user.role == 0 %}
  <div class="profile__delete">
    <a href="{% url 'delete_member' username=user_profile.username %}" class="profile__btn profile__delete--btn">
      <div class="profile__btn--text">Delete</div>
      <i class="fas fa-trash-alt profile__btn--icon"></i>
    </a>
  </div>
  {% endif %}

  {% if user_profile == request.user %}
  <div class="profile__edit">
    <a href="{% url 'user_profile_edit' username=request.user %}" class="profile__btn profile__edit--btn">
      <div class=" profile__btn--text">Edit
      </div>
      <i class="fas fa-edit  profile__btn--icon"></i>
    </a>
    <a href="{% url 'user_profile_change_password' username=request.user %}"
      class="profile__btn profile__password--btn">
      <div class=" profile__btn--text">Password
      </div>
      <i class="fas fa-unlock-alt profile__btn--icon"></i>
    </a>
  </div>

  <h2 class="profile__title">Your Profile:</h2>

  {% else %}
  <h2 class="profile__title">User's Profile:</h2>
  {% endif %}

  {% if user_profile.role == 0 %}
  <div class="profile__role">(Admin)</div>
  {% elif user_profile.role == 1 %}
  <div class="profile__role">(Teacher)</div>
  {% elif user_profile.role == 2 %}
  <div class="profile__role">(Sales Manager)</div>
  {% elif user_profile.role == 3 %}
  <div class="profile__role">(Receptionist)</div>
  {% elif user_profile.role == 4 %}
  <div class="profile__role">(Parent)</div>
  {% endif %}

  <div class="profile__info">
    <div class="profile__data">
      <div class="profile__data--heading">Full name:</div>
      <div class="profile__data--info">
        {{ user_profile.first_name }} {{ user_profile.last_name }}
      </div>
    </div>

    <div class="profile__data">
      <div class="profile__data--heading">Phone number:</div>
      <div class="profile__data--info">
        {{ user_profile.phone }}
      </div>
    </div>

    <div class="profile__data">
      <div class="profile__data--heading">Email:</div>
      <div class="profile__data--info">
        {{ user_profile.email }}
      </div>
    </div>
  </div>

  {% if user_profile.role == 1 %}
  <h4>Lessons:</h4>

  <h3>Search by date</h3>
  <form method="POST">
    {% csrf_token %}
    From: <input type="date" name="from_date">
    To: <input type="date" name="to_date">
    <input type="submit" value="search">
    <div class="lessons">

      <div>
        {{ lessons|length }} sales found
      </div>

      {% for lesson in lessons %}
      <div>
        <a href="
    {% url 'lesson_detail' pk=lesson.pk %}">
          {{ lesson.date|date:'m/d/Y' }}
          {{ lesson.get_subject }}
        </a>
      </div>
      {% endfor %}
    </div>
  </form>
  {% endif %}

  {% if user_profile.role == 2 %}
  <h3>Sales Manager</h3>
  <div>
    <h4>Kids assigned:</h4>
    {% for child in children %}
    <li>
      <a href="{% url 'student_detail' pk=child.pk%}">{{ child.first_name }}{{ child.last_name }}</a>
    </li>
    {% endfor %}



  </div>

  <div>
    <h4>Sales made:</h4>
    {% for sale in sales %}
    <li>
      Sold {{ sale.amount }} classes
      to:<a href="{% url 'user_profile' username=sale.sold_to.user.username %}">{{ sale.sold_to }}</a>
      on {{ sale.date|date:'m/d/Y' }}
    </li>
    {% endfor %}
  </div>
  {% endif %}


  {% if user_profile.role == 4 %}
  <h3>Children:</h3>
  <div>
    {% for child in children %}

    <a href="{% url 'student_detail' pk=child.pk%}">{{ child.first_name }}{{ child.last_name }}</a>
    <div class="add__relation">
      {% comment %} <form class="add__relation--container" method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <button class="btn__relation--add" type="submit">Add Status +</button>
      </form> {% endcomment %}
      <button id="add_relation">Add relation</button>
      <select id="relation_select" style="display: none;">
        <option value="1">Father</option>
        <option value="2">Mother</option>
        <option value="3">Grandfather</option>
        <option value="4">Grandmother</option>
        <option value="5">Other</option>
      </select>
      <button id="add_relation_btn" style="display: none;">Add</button>
    </div>
    {% endfor %}
  </div>
  {% endif %}



</div>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
  $(document).ready(function () {

    $('#add_relation').click(function () {
      $('#add_relation').hide();
      $('#relation_select').show();
      $('#add_relation_btn').show();
      $('#add_relation_btn').click(() => {
        let relation = $('#relation_select').val();
        let url = "{% url 'add_relation' %}";
        let data = {
          user_id: "{{ request.user.id }}",
          relation: relation,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }
        $.ajax({
          url: "{% url 'add_relation' %}",
          type: 'POST',
          data: data,
          success: function (data) {
            console.log(data);
          },
          error: function (data) {
            console.log(data);
            console.log(url);
          }
        });
      })

    });
  });
</script>
{% endblock %}