{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Profiles{% endblock %}

{% block content %}
  <div class="profile">
    <div class="profile__form--container">
      <h2 class="profile__form--title">Edit profile</h2>
      {% comment %} Edit profile form {% endcomment %}
      <form method="POST" action="{% url 'user_profile_edit' username=request.user %}"  class="profile__form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="profile__buttons">
          {% comment %} Go back to user profile page {% endcomment %}
          <a href="{% url 'user_profile' username=request.user %}"
            aria-label="Go Back to Profile page" class="profile__form--btn profile__btn profile__back--btn">
            <div class=" profile__btn--text">Go back</div>
            <i class="far fa-window-close  profile__btn--icon"></i>
          </a>
          {% comment %} Submit profile changes button {% endcomment %}
          <button type="submit" class="profile__form--btn profile__btn profile__confirm--btn">
            Submit<i class="fas fa-trash-alt search__btn--icon"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}