{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile">
  <div class="profile__form--container">
    {% if password_form %}
    <h2 class="profile__form--title">
      Change Password <br>
      <span class="profile__form--subtitle">(Fill out required fields)</span>
    </h2>
    {% comment %} Change password form {% endcomment %}
    <form method="post" class="profile__form">
      {{ password_form|crispy }}
      {% csrf_token %}
      <div class="profile__buttons">
        {% comment %} Go back to user profile page {% endcomment %}
        <a href="{% url 'user_profile' username=request.user %}"
          class="profile__form--btn profile__btn profile__back--btn">
          <div class=" profile__btn--text">Go back
          </div>
          <i class="far fa-window-close  profile__btn--icon"></i>
        </a>
        {% comment %} Submit profile changes button {% endcomment %}
        <button type="submit" class="profile__form--btn profile__btn profile__confirm--btn">
          <div class="profile__btn--text">Submit</div>
          <i class="fas fa-trash-alt profile__btn--icon"></i>
        </button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}