{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile">
  <div class="profile__form--container">
    <section class="profile__form">
      <h2 class="profile__form--title">Edit profile</h2>
      {% comment %} Edit profile form {% endcomment %}
      <form method="POST" action="{% url 'user_profile_edit' username=request.user %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="profile__buttons">
          {% comment %} Go back to user profile page {% endcomment %}
          <a href="{% url 'user_profile' username=request.user %}"
            class="profile__form--btn profile__btn profile__back--btn">
            <div class=" profile__btn--text">Go back
            </div>
            <i class="far fa-window-close  profile__btn--icon"></i>
          </a>
          {% comment %} Submit profile changes button {% endcomment %}
          <button type="submit" class="profile__form--btn profile__btn profile__confirm--btn">
            <div class="profile__btn--text">Submit</div>
            <i class="fas fa-trash-alt profile__btn--icon"></i>
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}