@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --clr-primary--100: #c6e8ff;
  --clr-primary--300: #93d3fd;
  --clr-primary--500: #0230d6;
  --clr-primary--900: #001d82;
  --clr-accent--300: #efceb0;
  --clr-accent--500: #ff914d;
  --clr-accent--700: #e56438;
  --clr-accent--800: #2fcd99;
  --clr-accent--900: #25a77b;
  --clr-neutral--100: #ffffff;
  --clr-neutral--300: #ffffffb7;
  --clr-neutral--500: #afadad;
  --clr-neutral--900: #2a2b2e;
  --fs: 1.4rem;
  --ff-primary: 'Lato', sans-serif;
  --br: 0.5em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* Body */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--fs);
  min-height: 100vh;
  color: var(--clr-neutral--100);
}

/* Header */

.header {
  width: 100%;
  background-color: var(--clr-accent--800);
  color: var(--clr-primary--900);
  position: relative;
}

.navbar {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  position: relative;
}


.logo__container {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
  display: flex;
}

.logo__container--image {
  background-image: url('/static/images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2rem;
  width: 2rem;
}

.navbar__items {
  display: flex;
  align-items: center;
}

.navbar__item:not(:first-child) {
  margin-left: 7vw;
}

.navbar__item a {
  color: var(--clr-primary--900);
  font-weight: 700;
}

.navbar__item a:hover,
.account__option a:hover {
  color: var(--clr-neutral--100);
}

.navbar__item--dropdown,
.home__hero--button {
  position: relative;
  background-color: var(--clr-primary--900);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  padding: 0.4em 2.5em 0.5em 2.5em;
  font-weight: 700;
  cursor: pointer;
  transform: background-color 500ms ease-in-out, color 500ms ease-in-out;
  -webkit-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);

}

.navbar__item--dropdown:hover,
.home__hero--button:hover {
  background-color: var(--clr-primary--500);
  color: var(--clr-neutral--100);
}

.account__options {
  padding: 2em;
  position: absolute;
  top: 105%;
  right: 2.35rem;
  z-index: 99;
  border: 1px solid var(--clr-primary-300);
  background-color: var(--clr-accent--800);
  border-radius: var(--br);
  display: none;

}

.navbar__item--dropdown.open~.account__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__options li {
  margin: 0 1.45em 0.5em 1.45em;
}

.account__options li:not(:last-child) {
  margin: 0 1.2em 1.5em 1.2em;
}

/* ----- Main ----- */
.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--clr-primary--300); */
  color: var(--clr-neutral--900);
  /* padding: 3em; */
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary--300);
}

.home__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/static/images/bg991.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

.home__hero--content {
  color: var(--clr-primary--900);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40rem;
}

.home__hero--title {
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  align-items: center;
}

.logo__image {
  background-image: url('/static/images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  width: 5rem;
}

.home__hero--subtitle {
  font-size: 2.1rem;
}

.home__hero--button {
  margin-top: 3vh;
  background-color: var(--clr-accent--900);
  font-size: 2rem;
}

.home__hero--button:hover {
  background-color: var(--clr-accent--800);
}

.benefits {
  background-color: var(--clr-primary--300);
  max-width: 120rem;
  margin: 0 auto;
  padding: 3em 2em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.benefits__content {
  background-image: url('/static/images/cloud.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  height: inherit;
  color: var(--clr-primary--900);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em;
}

.benefits__content--title {
  padding-bottom: 1em;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 900;
}

.benefits__content--text {
  /* padding: 2em; */
  line-height: 2.2rem;

}

.benefits__image {

  width: 50%;
  transform: scaleX(-1);
  margin: auto 0;
  margin-left: 5vw;
}














/* ----- Forms ----- */
.account__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: unset;
  color: white;
}

.account {
  margin: 5em auto;
  padding: 2em;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  max-width: 50rem;
  text-align: center;
}

.account__title {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
}

.account p {
  margin: 1em auto;
  max-width: 30rem;
  color: #ffffffec;
  font-weight: 100;
  font-size: 1.5rem;
}

.account__link {
  font-size: 1.7rem;
  color: var(--clr-primary--300);
}

.account__link:hover {
  color: var(--clr-accent--900)
}


/* Forms Inputs */
.account input {
  border: 1px solid #ffffff8c;
  border-radius: var(--br);
  padding: 1em 2em 0.6em 2em;
  min-width: 25rem;
  margin: 1em 0;
  background-color: #ffffff;
  font-size: 1.2rem;
}

.account input:focus {
  outline: none;
}

.account label:not([for='id_remember']) {
  display: none;
}

.account input::placeholder {
  color: #001c828f;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
}

.account input:placeholder-shown {
  color: #022c29;
  font-weight: 600;
}

.account input:not(:placeholder-shown) {
  color: var(--clr-primary--900);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;
}




/* Forms buttons */
.btn,
.account input[type="submit"] {
  background-color: var(--clr-accent--900);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  border: none;
  padding: 0.4em 2.5em 0.43em 2.5em;
  font-size: 1.7rem;
  font-weight: 900;
  margin: 1.3em 0 0.5em 0;
  cursor: pointer;
  transform: background-color 500ms ease-in-out, color 500ms ease-in-out;
  -webkit-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
}

.account input[type="submit"] {
  font-size: 1.5rem;
  margin: 0.5em;
}

.btn:hover,
.account input[type="submit"]:hover {
  background-color: var(--clr-accent--800);
}



/* ----- Footer ----- */

.footer {
  width: 100%;
  background-color: var(--clr-primary--900);
}

.footer__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 2em;
  color: var(--clr-neutral--100);
}