@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --clr-primary--100: #c6e8ff;
  --clr-primary--300: #93d3fd;
  --clr-primary--500: #0230d6;
  --clr-primary--900: #001d82;
  --clr-accent--300: #efceb0;
  --clr-accent--500: #ff914d;
  --clr-accent--700: #e56438;
  --clr-accent--800: #2fcd99;
  --clr-accent--900: #25a77b;
  --clr-neutral--100: #ffffff;
  --clr-neutral--300: #ffffffb7;
  --clr-neutral--500: #afadad;
  --clr-neutral--900: #2a2b2e;
  --fs: 1.4rem;
  --ff-primary: 'Lato', sans-serif;
  --br: 0.5em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* Body */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--fs);
  min-height: 100vh;
  color: var(--clr-neutral--100);
}

/* Header */

.header {
  width: 100%;
  background-color: var(--clr-accent--800);
  color: var(--clr-primary--900);
  position: relative;
}

.navbar {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  position: relative;
}


.logo__container {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
  display: flex;
}

.logo__container--image {
  background-image: url('/static/images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2rem;
  width: 2rem;
}

.navbar__items {
  display: flex;
  align-items: center;
}

.navbar__item:not(:first-child) {
  margin-left: 7vw;
}

.navbar__item a {
  color: var(--clr-primary--900);
  font-weight: 700;
}

.navbar__item a:hover,
.account__option a:hover {
  color: var(--clr-neutral--100);
}

.navbar__item--dropdown,
.home__hero--button {
  position: relative;
  background-color: var(--clr-primary--900);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  padding: 0.4em 2.5em 0.5em 2.5em;
  font-weight: 700;
  cursor: pointer;
  transform: background-color 500ms ease-in-out, color 500ms ease-in-out;
  -webkit-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);

}

.navbar__item--dropdown:hover,
.home__hero--button:hover {
  background-color: var(--clr-primary--500);
  color: var(--clr-neutral--100);
}

.account__options {
  padding: 0.5em 2em;
  position: absolute;
  top: 105%;
  right: 2.35rem;
  z-index: 99;
  border: 1px solid var(--clr-primary-300);
  background-color: var(--clr-accent--800);
  border-radius: var(--br);
  display: none;

}

.navbar__item--dropdown.open~.account__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__options .account__option:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.719);
}

.account__options .account__option {
  width: 100%;
  margin: 0 auto;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ----- Main ----- */
.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/bg991.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-neutral--900);
  padding-top: 2em;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.home__hero--content {
  color: var(--clr-primary--900);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40rem;
}

.home__hero--title {
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  align-items: center;
  display: flex;
}

.home__hero--title .logo__image {
  background-image: url('/static/images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  width: 5rem;
}

.home__hero--subtitle {
  font-size: 1.8rem;
  margin-top: 1vh;
}

.home__hero--button {
  margin-top: 3vh;
  background-color: var(--clr-accent--900);
  font-size: 2rem;
}

.home__hero--button:hover {
  background-color: var(--clr-accent--800);
}

.benefits {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10vh;
}

.benefits__card {
  background-color: var(--clr-primary--300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-radius: var(--br);
  -webkit-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
}

.benefits__card:not(:last-child) {
  margin-right: 5vw;
}


.benefits__card--image {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1em;
}

.benefits__card--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.benefits__card--content {
  text-align: center;
  width: 90%;
  font-size: 1.8rem;
}

.incentive,
.personnel,
.health {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10vh;
  font-size: 1.6rem;
}

.subsection__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2em;
  border-radius: var(--br);
  -webkit-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);

}

.subsection__content--left {
  margin-right: 10vw;
}

.subsection__content--right {
  margin-left: 10vw;
}


.subsection__image {
  /* background-color: yellow; */
  padding: 2em;
  width: 50%;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary--300);
  padding: 2em 2em 2.5em 2em;
  font-size: 1.6rem;
}

.contact__content {
  margin-bottom: 1.5em;
  max-width: 30rem;
  text-align: center;
  font-weight: 600;
}

.contact__button .home__hero--button {
  font-size: 1.5rem;
}


/* ----- Main Content ----- */
.profile,
.student,
.access,
.classes,
.students,
.sales,
.sale,
.applications,
.lesson__new {
  background-color: var(--clr-primary--300);
  max-width: 55rem;
  width: 100%;
  padding: 2em;
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  margin: 0 2em 1.5em 2em;
}

/* Profile */
/* Profile buttons */
.profile__delete {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.profile__edit,
.student__edit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
}

/* Buttons */
.profile__btn,
.student__btn,
.links__btn,
.label__btn,
.search__btn,
.sales__btn,
.sale__btn,
.lesson__btn {
  padding: 0.4em 1em 0.4em 1em;
  border-radius: var(--br);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: lowercase;
  font-size: 1.1rem;
  transition: background-color 150ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}

.links__btn--name {
  background-color: var(--clr-primary--900);
  border: 1px solid var(--clr-primary--900);
  text-transform: capitalize;
}

.links__btn--name:hover {
  background-color: #001c82bb;
}

.links__btn--content {
  width: fit-content;
}

.student__label {
  margin-left: 0.5em;
}

.profile__btn--text,
.student__btn--text,
.sales__btn--text,
.sale__btn--text,
.application__btn--text,
.lesson__btn--text {
  margin-right: 0.5em;
}

.profile__delete--btn,
.profile__password--btn,
.student__delete--btn,
.label__btn--name,
.profile__confirm--btn,
.student__confirm--btn,
.student__add--btn,
.sales__add--btn,
.sales__delete--btn,
.lesson__add--btn,
.sale__confirm--btn,
.role__confirm--btn,
.application__delete--btn {
  background-color: var(--clr-accent--700);
  border: 1px solid var(--clr-accent--700);
}

.profile__edit--btn,
.student__edit--btn,
.links__btn--page,
.profile__back--btn,
.classes__form--btn,
.student__back--btn,
.students__search--btn,
.members__search--btn,
.sales__form--btn,
.sales__edit--btn,
.sale__back--btn,
.schedule__teacher--btn {
  background-color: var(--clr-accent--900);
  border: 1px solid var(--clr-accent--900);
  margin-right: 0.5em;
}

.links__btn--page {
  margin-right: 0;
  margin-bottom: 0.8em;
}

.profile__delete--btn:hover,
.profile__password--btn:hover,
.student__delete--btn:hover,
.label__btn--name:hover,
.profile__confirm--btn:hover,
.student__confirm--btn:hover,
.student__add--btn:hover,
.sales__add--btn:hover,
.sales__delete--btn:hover,
.lesson__add--btn:hover,
.sale__confirm--btn:hover,
.role__confirm--btn:hover,
.application__delete--btn:hover {
  background-color: var(--clr-accent--500);
}

.profile__edit--btn:hover,
.student__edit--btn:hover,
.links__btn--page:hover,
.profile__back--btn:hover,
.classes__form--btn:hover,
.student__back--btn:hover,
.students__search--btn:hover,
.members__search--btn:hover,
.sales__form--btn:hover,
.sales__edit--btn:hover,
.sale__back--btn:hover,
.schedule__teacher--btn {
  background-color: var(--clr-accent--800);
}

/* Profile Data */
.profile__title,
.student__title,
.classes__title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.profile__role {
  margin-bottom: 1em;
}

.profile__info,
.student__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.profile__data,
.student__data {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
  justify-content: center;
}

.profile__data--heading,
.student__data--heading {
  font-weight: 900;
  margin-right: 0.8em;
}

.profile__data--info,
.student__data--info {
  letter-spacing: 0.1rem;
}

/* Profile Addition Data */
.profile__children,
.profile__students,
.profile__sales {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 0.7em;
  margin-bottom: 0.6em;
}

.profile__students,
.profile__sales {
  margin-bottom: 0.2em;
}

.profile__students--amount,
.profile__sales--amount {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0.6em;
}

.profile__students--data,
.profile__sales--data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
  margin-bottom: 0.5em;
}

.profile__data--text {
  width: 100%;
  text-align: center;
}

.profile__children--data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.3em;
}

.profile__child--data {
  display: flex;
  align-items: center;
}

.profile__relation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__relation--status {
  margin: 0 1em;
}

.add__relation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__select {
  margin-right: 0.3em;
  font-size: 1.1rem;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: var(--br);
  border: 1px solid var(--clr-accent--700);
  background-color: white;
}

/* Styling Classes Section */
.classes {
  padding-top: 0;
  max-width: 100%;
  background-color: unset;
}

.classes__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.classes__form--heading,
.sales__form--heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: var(--clr-primary--900);
}

.classes__form--settings,
.sales__form--settings {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 42rem;
  margin-bottom: 0.5em;
}

.datepicker__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.datepicker__container--title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-primary--900);
  margin-right: 0.5em;
}

.classes__form--btn,
.students__search--btn,
.sales__form--btn {
  font-size: 1.3rem;
  border-radius: 0.4em;
}

.hasDatepicker {
  background-color: white;
  max-width: 10rem;
  font-size: 1.5rem;
  padding: 0.2em 0.35em;
  border: 3px solid var(--clr-primary--900);
  border-radius: 0.2em;
  color: var(--clr-primary--900);
}

.classes__results,
.sales__results {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classes__results--summary,
.sales__results--summary {
  margin-bottom: 0.5em;
}

.classes__results--container,
.sales__results--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
}

.classes__results--item {
  justify-self: stretch;
}

.links__btn--classes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Styling students page */
.students,
.sales,
.applications {
  background-color: unset;
  max-width: 120rem;
  justify-content: start;
}

.students__header,
.sales__header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students__title,
.members__title,
.sales__title,
.applications__title,
.lessons__title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

.students__btn,
.sales__btn--custom {
  position: absolute;
  right: -1.5rem;
  top: -3.5rem;
  font-size: 1.6rem;
}

/* Styling student search form */
.students__form,
.members__form,
.sales__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student__add--btn,
.sales__add--btn,
.lesson__add--btn {
  font-size: 1.4rem
}

.students__search,
.members__search {
  position: relative;
}

.students__undo--btn,
.members__undo--btn {
  background-color: var(--clr-primary--900);
  color: white;
  font-weight: 900;
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  top: 2.07rem;
  right: 0.4rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.students__undo--btn:hover,
.members__undo--btn:hover {
  background-color: #0230d6;
}

.students__search--instructions,
.students__sort--instructions,
.members__search--instructions,
.members__sort--instructions {
  font-size: 1.2rem;
  margin-top: 0.5em;
  font-style: italic;
  text-align: center;
}

.students__sort {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 1em;
}

.students__sort--item,
.members__sort--item {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.students__sort label {
  position: relative;
  margin-right: 0.5em;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  display: inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.7rem;
  height: 1.7rem;
  border: 3px solid var(--clr-accent--500);
  border-radius: 100%;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--clr-accent--500);
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.students__sort--name,
.members__sort--name {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.search__btn--icon {
  margin-left: 0.5em;
}

.students__summary,
.members__summary {
  margin: 1em 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.students__results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-flow: dense;
  gap: 0.5rem;
}

.students__results--item a,
.members__results--item a {
  font-size: 1.2rem;
  padding: 0.2em;
}

.students__label {
  color: var(--clr-accent--500);
  margin-left: 0.5em;
}

/* Styling Members Page */
.members {
  width: 100%;
  max-width: 120rem;
  justify-content: start;
  padding: 0.5em;
}

.members__sort {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1em;
}

.members__results,
.applications__results {
  margin: 2em auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-flow: dense;
  gap: 0.5rem;
}

.member {
  font-size: 1.4rem;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.member__role {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.795);
  padding: 0.2em 0;
}

.member__phone {
  display: flex;
  align-items: center;
}

.member__icon {
  font-size: 1.1rem;
  margin-right: 0.5em;
}

/* Styling sales page */
.sales__form {
  margin: 1em auto;
}

.sales__results--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

table,
th,
td {
  border: 1px solid var(--clr-primary--900);
}

th,
td {
  padding: 0.2em;
}

.sales__results--item {
  font-size: 1.4rem;
}

.sales__results--container .sales__edit--btn {
  margin-right: 0;
}

.sale__form--warning {
  margin-bottom: 0.5em;
}

/* Styling new applications page */
.applications__number {
  margin-top: 1em;
  text-align: center;
}

.applications__results {
  gap: 2rem;
}

.applications__results .links .links__btn--name {
  font-size: 1.8rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.applications__results .links .links__btn--name .profile__btn--text {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

/* Styling Application detail page */
.application {
  width: 100%;
  max-width: 40rem;
  margin: 2em auto;
  margin-bottom: 0.5em;
  padding: 1em 1.5em;
  background-color: var(--clr-primary--300);
  border-radius: var(--br);
  position: relative;
}

.application__data:not(:last-child) {
  margin-bottom: 0.5em;
  font-size: 1.8rem;
}

.application__data span {
  font-weight: 900;
}

.application__delete {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}

.role__form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  background-color: var(--clr-primary--300);
  border-radius: var(--br);
}

.role__form--title {
  padding-top: 0.8em;
  font-size: 1.6rem;
  font-weight: 900;
}

.role__button {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.application__link {
  color: var(--clr-neutral--900);
  display: flex;
  margin: 1em;
}

.application__link:hover {
  color: var(--clr-accent--500);
}

.application__link--text {
  font-size: 1.6rem;
  font-weight: 900;
  font-style: italic;
}

.application__link i {
  margin-left: 0.5em;
}

.delete__form--warning {
  font-weight: 900;
}

/* Styling lessons list page (Schedule page) */
.lessons {
  margin-left: 2em;
  margin-right: 2em;
}

.lessons__title {
  text-transform: unset;
  color: var(--clr-neutral--900);
}

.lessons__subtitle {
  color: #4d4d4d;
}

.lessons__subtitle span {
  font-weight: 900;
}

.lessons__header {
  position: relative;
}

.lesson__btn--custom {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6rem;
}

.lessons__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.lessons__search--text {
  margin-left: 0.5em;
  font-style: italic;
  color: #4d4d4d;
}

.schedule {
  width: 100%;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
  display: grid;
  gap: 0.4em;
  margin: 2em auto;
  padding: 0.4em;
  /* background-color: red; */
}

.schedule__section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.4em;
  background-color: var(--clr-primary--900);
}

.schedule__section--time {
  color: var(--clr-neutral--100);
  border-radius: 0.3em;
  padding: 0.4em;
  font-size: 1.6rem;
  font-weight: 900;
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

.schedule__section--lessons {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--clr-neutral--100);
  border-radius: 0.3em;
  padding: 0.1em 0.4em 0.6em 0.4em;

}

.schedule__section--lesson:not(:last-child) {
  margin-right: 0.5em;
}

.schedule__section--lesson {
  max-height: 2.5rem;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: var(--br);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  transition: background-color 150ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: var(--clr-accent--900);
  border: 1px solid var(--clr-accent--900);
  text-transform: capitalize;
  margin-top: 0.4em;
}

.schedule__section--lesson:hover {
  background-color: var(--clr-accent--800);
}

.schedule__section--subject {
  color: var(--clr-neutral--100);
}

.lesson__link {
  justify-content: center;
  background-color: unset;
}

.lesson__form__delete--title {
  margin-bottom: 1em;
}

/* Styling Lesson Detail Page */
.lesson__details {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
}

.lesson__details--header {
  position: relative;
  width: 100%;
  padding: 3rem;
}

.lesson__details--title {
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: white;
}

.lesson__details--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
  padding: 0.4em;
}

.lesson__details--data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--clr-primary--900);
  gap: 0.4em;
}

.lesson__details--data:not(:last-child) {
  margin-bottom: 0.4em;
}

.lesson__details--subtitle,
.lesson__details--content {
  padding: 0.5em;
  background-color: var(--clr-neutral--100);
}

.lesson__details--subtitle {
  font-weight: 900;
  font-size: 1.6rem;
}

.schedule__teacher--text {
  text-transform: capitalize;
}

.lesson__details--content {
  display: flex;
  justify-content: flex-start;
}

.lesson__details--content .links__btn {
  width: fit-content;
  margin-right: 0.2em;
  border: 1px solid white;
}

/* ----- Forms ----- */
.account__container,
.profile__form--container,
.student__form--container,
.sale__form--container,
.lesson__form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: unset;
  color: white;
}

.profile__form--container,
.student__form--container,
.sale__form--container,
.lesson__form--container {
  color: var(--clr-neutral--900);
}

.profile__form,
.student__form,
.sale__form,
.lesson__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  width: 30rem;
  text-align: center;
}

.account {
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1.5em;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  max-width: 50rem;
  text-align: center;
}

.account__title,
.profile__form--title,
.student__form--title,
.sale__form--title,
.lesson__form--title,
.lesson__form__delete--title {
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
}

.profile__form--title,
.student__form--title,
.sale__form--title {
  margin-bottom: 0.9em;
}

.profile__form--subtitle {
  font-size: 1.5rem;
  margin-top: 0.5em;
}

.profile__form--suggestions,
.student__form--suggestions,
.sale__form--suggestions,
.lesson__form--suggestions {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile__form--suggestions .links,
.student__form--suggestions .links {
  width: 100%;
  margin: 0.7em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.account p {
  margin: 1em auto;
  max-width: 30rem;
  color: #ffffffec;
  font-weight: 100;
  font-size: 1.5rem;
}

.account p.account__notice {
  margin-bottom: 0.2em;
}

.account__link {
  font-size: 1.7rem;
  color: var(--clr-primary--300);
}

.account__link:hover {
  color: var(--clr-accent--900)
}


/* Forms Inputs */
.account input,
.profile__form input,
.student__form input,
.students input,
.members input,
.sale input,
.lesson__form input {
  border: 1px solid #ffffff8c;
  border-radius: var(--br);
  padding: 0.6em 0.8em 0.4em 0.8em;
  min-width: 25rem;
  margin: 0.6em 0;
  background-color: #ffffff;
  font-size: 1.2rem;
}

.students input,
.members input,
.lesson__form input {
  border: 2px solid var(--clr-primary--900);
  margin: 0;
  margin-top: 1.5em;
}

.lesson__form input {
  border: none;
}

.profile__form input,
.student__form input,
.sale__form input,
.lesson__form input {
  margin-bottom: 0.5em;
}

.account input:focus,
.profile__form input:focus,
.student__form input:focus,
.students input:focus,
.members input:focus,
.sale__form input:focus,
.lesson__form input:focus {
  outline: none;
}

.account label:not([for='id_remember']),
.profile__form label:not([for='id_remember']),
.student__form label:not([for='id_remember']),
.sale__form label:not([for='id_remember']),
.role__form label:not([for='id_remember']),
.lesson__form label:not([for='id_remember']) {
  display: none;
}

.account input::placeholder,
.profile__form input::placeholder,
.student__form input::placeholder,
.students input::placeholder,
.members input::placeholder,
.sale__form input::placeholder,
.lesson__form input::placeholder {
  color: #001c828f;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
}

.account input:placeholder-shown,
.profile__form input:placeholder-shown,
.student__form input:placeholder-shown,
.students input:placeholder-shown,
.members input:placeholder-shown,
.sale__form input:placeholder-shown,
.lesson__form input:placeholder-shown {
  color: #022c29;
  font-weight: 600;
}

.account input:not(:placeholder-shown),
.profile__form input:not(:placeholder-shown),
.student__form input:not(:placeholder-shown),
.students input:not(:placeholder-shown),
.members input:not(:placeholder-shown),
.sale__form input:not(:placeholder-shown),
.lesson__form input:not(:placeholder-shown) {
  color: var(--clr-primary--900);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;
}

.form-group {
  position: relative;
  padding-top: 0.8em;
}

.account .form-group {
  padding-top: 0;
}

.profile__form label[for='id_first_name']~div::before,
.profile__form label[for='id_last_name']~div::before,
.profile__form label[for='id_phone']~div::before,
.profile__form label[for='id_old_password']~div::before,
.profile__form label[for='id_new_password1']~div::before,
.profile__form label[for='id_new_password2']~div::before,
.student__form label[for='id_first_name']~div::before,
.student__form label[for='id_last_name']~div::before,
.student__form label[for='id_parent']~div::before,
.student__form label[for='id_birthday']~div::before,
.student__form label[for='id_address']~div::before,
.student__form label[for='id_classes_left']~div::before,
.student__form label[for='id_sales_manager']~div::before,
.student__form label[for='id_notes']~div::before,
.sale__form label[for='id_sold_to']~div::before,
.sale__form label[for='id_amount']~div::before,
.sale__form label[for='id_student']~div::before,
.lesson__form label[for='id_time']~div::before,
.lesson__form label[for='id_subject']~div::before,
.lesson__form label[for='id_teachers']~div::before,
.lesson__form label[for='id_students']~div::before {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.profile__form label[for='id_first_name']~div::before,
.student__form label[for='id_first_name']~div::before {
  content: 'First Name:';
}


.profile__form label[for='id_last_name']~div::before,
.student__form label[for='id_last_name']~div::before {
  content: 'Last Name:';
}


.profile__form label[for='id_phone']~div::before {
  content: 'Phone Number:';
}

.profile__form label[for='id_old_password']~div::before {
  content: 'Old Password:';
}

.profile__form label[for='id_new_password1']~div::before {
  content: 'New Password:';
}

.profile__form label[for='id_new_password2']~div::before {
  content: 'Confirm Password:';
}

.student__form label[for='id_parent']~div::before {
  content: 'Parents:';
}

.student__form label[for='id_birthday']~div::before {
  content: 'Birthday:';
}

.student__form label[for='id_address']~div::before {
  content: 'Address:';
}

.student__form label[for='id_classes_left']~div::before {
  content: 'Classes Left:';
}

.student__form label[for='id_sales_manager']~div::before {
  content: 'Sales Manager:';
}

.student__form label[for='id_notes']~div::before {
  content: 'Notes:';
}

.sale__form label[for='id_sold_to']~div::before {
  content: 'Client Name:';
}

.sale__form label[for='id_amount']~div::before {
  content: 'Amount:';
}

.sale__form label[for='id_student']~div::before {
  content: 'Student:';
}

.lesson__form label[for='id_date']~div::before {
  content: 'Date:';
  position: absolute;
  top: 1.2rem;
  left: 0.4rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.lesson__form label[for='id_time']~div::before {
  content: 'Time Period:';
}

.lesson__form label[for='id_subject']~div::before {
  content: 'Subject:';
}

.lesson__form label[for='id_teachers']~div::before {
  content: 'Teachers:';
}

.lesson__form label[for='id_students']~div::before {
  content: 'Students:';
}

/* Stylings jquery ui elements for student form */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
}

.select2-container .select2-container--default .select2-container--below .select2-container--focus {
  background-color: red;
}

.select2-selection .select2-container .select2-container--default .select2-container--below {
  background-color: #25a77b;
}

.select2-container--default .select2-search--inline .select2-search__field {
  color: var(--clr-primary--900);
  padding: 2em;
}

.student__form .select2-container--default .select2-selection--multiple,
.sale__form .select2-container--default .select2-selection--single,
.role__form .select2-container--default .select2-selection--single,
.lesson__form .select2-container--default .select2-selection--multiple,
.lesson__form .select2-container--default .select2-selection--single {
  cursor: text;
  position: relative;
  border: 1px solid #ffffff8c;
  border-radius: var(--br);
  padding: 0.4em 1em 0.5em 1em;
  min-width: 25rem;
  margin: 0.7em 0;
  background-color: #ffffff;
  font-size: 1.2rem;
  color: #001d82;
  margin-bottom: 0.5em;
}

.lesson__form .select2-container--default .select2-selection--single {
  margin-top: 0;
}

.lesson__form .select2-container--default .select2-selection--multiple {
  padding: 0.5em 1em 0.7em 1em;
}

.lesson__form .select2-container {
  margin-top: 1rem;
}

#div_id_teachers,
#div_id_students {
  padding-bottom: 0.9rem;
}

.select2-results {
  margin: 0.5em;
}

.select2-results__options {
  cursor: pointer;
  background-color: white;
  color: var(--clr-neutral--900);
  border: none;
}

.select2-selection__choice {
  background-color: red;
}

button.select2-selection__choice__remove {
  margin: unset;
  border: none;
}

.select2-selection__choice__display {
  color: #040911;
  border: none;
}

.select2-results__option.select2-results__option--selectable.select2-results__option--selected.select2-results__option--highlighted {
  background-color: var(--clr-accent--700);
}

.select2-results__option.select2-results__option--selectable.select2-results__option--selected {
  background-color: white;
  color: var(--clr-neutral--900);
}

/* Stylings jquery ui elements for sale form, role form, lesson form */
.role__form .select2-container--default .select2-selection--single,
.lesson__form .select2-container--default .select2-selection--multiple {
  margin: 0;
}

.sale__form .select2-container--default .select2-selection--single,
.role__form .select2-container--default .select2-selection--single,
.lesson__form .select2-container--default .select2-selection--single {
  height: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.sale__form .select2-container--default .select2-selection--single .select2-selection__rendered,
.role__form .select2-container--default .select2-selection--single .select2-selection__rendered,
.lesson__form .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  color: var(--clr-primary--900);
  font-weight: 900;
  font-size: 1.2rem;
}

/* Styling Forms Textarea */

.student__form .textarea {
  width: 25rem;
  resize: vertical;
  height: 10vh;
  min-height: 3rem;
  border: none;
  border-radius: var(--br);
  font-size: 1.2rem;
  color: #001d82;
  margin: 0.6em 0 0.5em 0;
  padding: 1em;
}

.student__form .textarea:focus {
  outline: none;
  border: 1px solid var(--clr-primary--900);
}

#hint_id_new_password1 ul li {
  display: none;
}

.profile__buttons,
.student__buttons,
.sale__buttons {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin: 0;
}

.profile__form--btn,
.student__buttons--btn,
.sale__form--btn {
  margin: 1em 0;
  padding: 0.5em 1.2em;
  border-radius: var(--br);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: unset;
}


/* input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: var(--br);
  color: var(--clr-primary--900);
}

input[type=date]::-webkit-calendar-picker-indicator:before {
  background-color: orange;

}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
  background-color: var(--clr-primary--300);
}

input[type="date"]:hover:after {}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  background-color: var(--clr-primary--300);
}

input[type=date]:focus {
  border-color: rgb(47, 0, 255);
} */

/* Forms buttons */
.btn,
.account input[type="submit"] {
  background-color: var(--clr-accent--900);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  border: none;
  padding: 0.4em 2.5em 0.43em 2.5em;
  font-size: 1.7rem;
  font-weight: 900;
  margin: 1.3em 0 0.5em 0;
  cursor: pointer;
  transform: background-color 500ms ease-in-out, color 500ms ease-in-out;
  -webkit-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
}

.account input[type="submit"] {
  font-size: 1.5rem;
  margin: 0.5em;
}

.btn:hover,
.account input[type="submit"]:hover {
  background-color: var(--clr-accent--800);
}



/* ----- Footer ----- */

.footer {
  width: 100%;
  background-color: var(--clr-primary--900);
}

.footer__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 2rem;
  padding: 2em;
  color: var(--clr-neutral--100);
}

.footer__content--logo {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
  display: flex;
  width: 100%;
  justify-content: start;
  align-content: start;
}

.footer__content--logo .logo__image {
  height: 2rem;
  width: 2rem;
}

.footer__content--info {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer__content--creator {
  grid-column: 3/4;
  grid-row: 2/3;
}

.footer__content--info,
.footer__content--creator {
  justify-self: center;
  align-self: start;
}

.footer__info--item {
  display: flex;
}

.footer__info--item:not(:last-child) {
  margin-bottom: 0.5em;
}

.footer__info--item i {
  margin-right: 0.5em;
}

.footer__info--text {
  font-size: 1.2rem;
}

.creator__name {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.2rem;
  margin-bottom: 0.8em;
  letter-spacing: 0.05rem;
}

.creator__name span {
  font-weight: 900;
  margin-left: 0.5em;
}

.creator__links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.creator__link a i {
  font-size: 1.8rem;
  color: var(--clr-neutral--100);
}

.creator__link a i:hover {
  color: #ffffffa8;
}


/* Access Error */

.access__error {

  font-weight: 900;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access__error--image {
  background-color: var(--clr-accent--800);
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.access__error--image img {
  width: 4rem;
}

.access__error--text {
  margin: 1em 0;
}

.student__message {
  color: var(--clr-primary--900);
  font-style: italic;
}

/* Messages */
.messages__container--warning {
  width: 100%;
  max-width: 120rem;
  margin-bottom: 1em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(221, 96, 96, 0.322);
  color: red;
  font-weight: 900;
}

.message__container {
  padding: 0.2em;
}

@media all and (max-width: 1292px) {

  /* Styling members Page */
  .members__sort {
    width: 100%;
  }

  .members__sort--item,
  .students__sort--item {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .members__sort--name,
  .students__sort--name {
    font-size: 1rem;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
    width: 1.2rem;
    height: 1.2rem;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    top: 0.362rem;
    left: 0.362rem;
  }

  .members__summary {
    margin: 0.3em 0;
    font-size: 1.2rem;
  }

  .members input {
    margin-top: 0.5em;
  }

  .members__results {
    margin: 0.5em auto;
  }

  .students__undo--btn,
  .members__undo--btn {
    top: 0.85rem;
    right: 0.4rem;
  }

  .sales__results--summary {
    font-size: 1.4rem;
  }

  .sales__results--container tr th,
  .sales__results--container tr td {
    font-size: 1rem;
  }

  /* Styling Students list Page */
  .students__sort {
    gap: 1rem;
  }
}

@media all and (max-width: 980px) {

  .profile,
  .student,
  .access,
  .classes,
  .students,
  .sales,
  .sale,
  .applications,
  .lesson__new {
    background-color: pink;
    width: 90%;
    padding: 1.5em;
    font-size: 1.6rem;
    margin-bottom: 1.5em;
  }

  .student__add--btn,
  .sales__add--btn,
  .lesson__add--btn {
    padding: 0.2em 0.6em;
    font-size: 1.2rem;
  }


  .profile__title,
  .student__title,
  .classes__title,
  .students__title,
  .members__title,
  .sales__title,
  .applications__title,
  .lessons__title {
    font-size: 1.8rem;
  }

  .profile__students,
  .profile__sales,
  .profile__children {
    font-size: 1.6rem;
  }

  .account__title,
  .profile__form--title,
  .student__form--title,
  .sale__form--title,
  .lesson__form--title,
  .lesson__form__delete--title {
    font-size: 1.8rem;
    text-align: center;
  }

  .profile__form,
  .student__form,
  .sale__form,
  .lesson__form {
    font-size: 1.6rem;
    width: 100%;
  }

  .profile__buttons,
  .student__buttons,
  .sale__buttons {
    width: 100%;
    justify-content: space-evenly;
  }

  .profile__form--btn,
  .student__buttons--btn,
  .sale__form--btn {
    font-size: 1.2rem;
  }

  /* Styling New Applications Pages */
  .applications__results .links .links__btn--name .profile__btn--text {
    font-size: 1.4rem;
  }

  .application__buttons--delete {
    width: 50vw;
  }

  /* Styling Sales List Page */
  .sales__add--btn {
    font-size: 1.2rem;
  }

  .sales__form {
    margin: 0.2em auto;
  }

  .classes__form--heading,
  .sales__form--heading {
    font-size: 1rem;
    font-weight: 700;
  }

  .classes__form--settings,
  .sales__form--settings {
    width: 100%;
    max-width: 30rem;
  }

  .datepicker__container {
    margin-right: 0.4em;
  }

  .datepicker__container--title {
    font-size: 1rem;
    margin-right: 0.2em;
  }

  .hasDatepicker {
    max-width: 6rem;
    font-size: 0.8rem;
    border: 1.5px solid var(--clr-primary--900);
    border-radius: 0.2em;
  }

  .sales__form .classes__form--btn {
    font-size: 1rem;
    padding: 0.2em 0.5em;
  }

  .sales__results--summary {
    font-size: 1.4rem;
  }

  .sales__results--container tr th,
  .sales__results--container tr td {
    font-size: 1rem;
  }

  .sales__results--container .links__btn {
    padding: 0.1em 0.2em;
    font-size: 0.8rem;
  }

  .sales__results--container .sales__edit--btn .sales__btn--text,
  .sales__results--container .sales__delete--btn .sales__btn--text {
    display: none;
  }


  /* Styling lessons list page (Schedule page) */
  .lessons__subtitle {
    color: #4d4d4d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lessons__subtitle span {
    margin-left: 0.4em;
  }

  .lesson__btn--custom {
    top: -1.5rem;
  }

  .lessons__search {
    margin-top: 0.7em;
  }

  .lessons__search--text {
    display: none;
  }

  .schedule {
    gap: 0.15em;
    padding: 0.2em;
  }

  .schedule__section {
    gap: 0.15em;
  }


  .schedule__section--time {
    font-size: 1.3rem;
    padding: 0.2em;
  }


  /* Styling footer */
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__content--logo {
    justify-content: center;
    align-content: center;
  }

  .footer__content--info {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer__content--creator {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .footer__content--info,
  .footer__content--creator {
    justify-self: center;
    align-self: center;
    text-align: center;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__info--item:last-child {
    margin-top: 1em;
  }
}

@media all and (max-width: 804px) {

  /* Styling Members Page */
  .members__sort {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    margin-bottom: 0.5em;
  }
}

@media all and (max-width: 680px) {

  .profile,
  .student,
  .access,
  .classes,
  .students,
  .sales,
  .sale,
  .applications,
  .lesson__new {
    padding: 0.5em 0.5em 1em 0.5em;
    font-size: 1.2rem;
  }

  .profile__title,
  .student__title,
  .classes__title {
    font-size: 1.8rem;
    margin-top: 1.7em;
  }

  .profile__students,
  .profile__sales,
  .profile__children {
    font-size: 1.4rem;
  }

  .students__title,
  .members__title,
  .sales__title,
  .applications__title,
  .lessons__title {
    font-size: 1.8rem;
  }

  .profile__data,
  .student__data {
    margin-left: 0.5em;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1rem;
  }

  .profile__data--heading {
    margin-right: 0.2em;
  }

  .profile__data--info {
    word-break: break-all;
  }

  .profile__buttons,
  .student__buttons,
  .sale__buttons {

    width: 100%;
  }

  .profile__form,
  .student__form,
  .sale__form,
  .lesson__form {
    font-size: 1.2rem;
    width: 90%;
  }


  .account__title,
  .profile__form--title,
  .student__form--title,
  .sale__form--title,
  .lesson__form--title,
  .lesson__form__delete--title {
    font-size: 1.6rem;
  }

  .profile__form--title,
  .student__form--title,
  .sale__form--title {
    margin-top: 0.6em;
  }


  .account input,
  .profile__form input,
  .student__form input,
  .students input,
  .members input,
  .sale input,
  .lesson__form input {
    min-width: 100%;
  }

  .student__form input[type="text"] {
    max-width: 20rem;
  }

  .profile__btn,
  .student__btn,
  .links__btn,
  .label__btn,
  .search__btn,
  .sales__btn,
  .sale__btn,
  .lesson__btn {
    font-size: 0.9rem;
  }

  /* Styling New Applications Pages */
  .applications {
    width: fit-content;
  }

  .applications__results {
    gap: 1rem;
  }

  .applications__results .links .links__btn--name .profile__btn--text {
    font-size: 1rem;
  }


  .application {
    padding-top: 2em;
  }

  .application .application__data {
    font-size: 1.5rem;
  }

  .application__buttons--delete {
    width: 90vw;
  }

  /* Styling Add Sale Page */
  .sale__form .select2-container--default .select2-selection--single {
    width: 100%;
    min-width: unset;
  }

  .sale input {
    padding: 0.5em;
  }

  /* Styling Adding Page */
  .profile__form label[for='id_first_name']~div::before,
  .profile__form label[for='id_last_name']~div::before,
  .profile__form label[for='id_phone']~div::before,
  .profile__form label[for='id_old_password']~div::before,
  .profile__form label[for='id_new_password1']~div::before,
  .profile__form label[for='id_new_password2']~div::before,
  .student__form label[for='id_first_name']~div::before,
  .student__form label[for='id_last_name']~div::before,
  .student__form label[for='id_parent']~div::before,
  .student__form label[for='id_birthday']~div::before,
  .student__form label[for='id_address']~div::before,
  .student__form label[for='id_classes_left']~div::before,
  .student__form label[for='id_sales_manager']~div::before,
  .student__form label[for='id_notes']~div::before,
  .sale__form label[for='id_amount']~div::before {
    top: 0.3rem;
  }

  .student__form .select2-container--default .select2-selection--multiple,
  .lesson__form .select2-container--default .select2-selection--multiple,
  .lesson__form .select2-container--default .select2-selection--single {
    width: 100%;
    min-width: 16.05rem;
  }

  .students input[name="birthday"] {
    width: 16.05rem;
    background-color: red;
  }

  .student__form .textarea {
    width: 16.05rem;
  }

  /* Styling Schedule Page */
  .schedule__section--time {
    padding: 0.2em;
    font-size: 1rem;
  }

  .schedule__section--lesson:not(:last-child) {
    margin-right: 0.2em;
  }
}

@media all and (max-width: 575px) {

  /* Styling Sales List Page */
  .classes__form--settings,
  .sales__form--settings {
    width: 100%;
    max-width: 30rem;
  }

  .datepicker__container {
    margin-right: 0.4em;
  }

  .datepicker__container--title {
    font-size: 1rem;
    margin-right: 0.2em;
  }

  .hasDatepicker {
    max-width: 6rem;
    font-size: 0.8rem;
    border: 1.5px solid var(--clr-primary--900);
    border-radius: 0.2em;
  }

  .sales__form .classes__form--btn,
  .classes__form .classes__form--btn {
    color: transparent;
    width: 3rem;
    position: relative;

  }

  .sales__form .classes__form--btn i,
  .classes__form .classes__form--btn i {
    color: var(--clr-neutral--100);
    position: absolute;
    left: 17%;
  }


  .sales__results {
    position: relative;
  }

  .sales__results--summary {
    margin-bottom: 2.5rem;
  }

  .sales__results--summary::before {
    content: "*For more data on sales, consider open the app on desktop";
    position: absolute;
    top: 1.7rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--clr-accent--700);
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
    margin: 0 auto;
  }

  .sales__results--container .hidden {
    display: none;
  }

  .students__results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: dense;
    gap: 0.5rem;
  }
}

@media all and (max-width: 387px) {
  .datepicker__container--title {
    font-size: 0.8rem;
  }

  .hasDatepicker {
    max-width: 4rem;
    font-size: 0.5rem;
  }

  /* Styling Students list Page */
  .students__sort {
    gap: 0;
  }
}