@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --clr-primary--100: #c6e8ff;
  --clr-primary--300: #93d3fd;
  --clr-primary--500: #0230d6;
  --clr-primary--900: #001d82;
  --clr-accent--300: #efceb0;
  --clr-accent--500: #ff914d;
  --clr-accent--700: #e56438;
  --clr-accent--800: #4f2c1d;
  --clr-accent--900: #2fcd99;
  --clr-neutral--100: #ffffff;
  --clr-neutral--300: #ffffffb7;
  --clr-neutral--500: #afadad;
  --clr-neutral--900: #2a2b2e;
  --fs: 1.4rem;
  --ff-primary: 'Lato', sans-serif;
  --br: 0.5em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* Body */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--fs);
  min-height: 100vh;
  color: var(--clr-neutral--100);
}

/* Header */

.header {
  width: 100%;
  background-color: var(--clr-primary--300);
  color: var(--clr-primary--900);
  position: relative;
}

.header:after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
}

.navbar {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  position: relative;

}


.logo__container {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
}

.navbar__items {
  display: flex;
  align-items: center;
}

.navbar__item:not(:first-child) {
  margin-left: 7vw;
}

.navbar__item a {
  color: var(--clr-primary--900);
  font-weight: 700;
}

.navbar__item a:hover,

.account__option a:hover {
  color: var(--clr-neutral--100);
}

.navbar__item--dropdown {
  position: relative;
  background-color: var(--clr-primary--500);
  color: var(--clr-neutral--100);
  border-radius: var(--br);
  padding: 0.5em 2.5em;
  font-weight: 700;
}

.navbar__item--dropdown:hover {
  background-color: var(--clr-primary--900);
  color: var(--clr-neutral--100);
}

.account__options {
  padding: 2em;
  position: absolute;
  top: 105%;
  right: 2.35rem;
  z-index: 99;
  border: 1px solid var(--clr-primary-300);
  background-color: var(--clr-primary--300);
  border-radius: var(--br);
  display: none;

}

.navbar__item--dropdown.open~.account__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__options li {
  margin: 0 1.45em 0.5em 1.45em;
}

.account__options li:not(:last-child) {
  margin: 0 1.2em 1.5em 1.2em;
}

.main {
  width: 100%;
  background-image: url('/static/images/bg22.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 100vh; */
  height: 80vh;
}