{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Sales{% endblock %}

{% block content %}
  <div class="sale">
    <div class="sale__form--container">
      <form method="POST" class="sale__form">
        <h2 class="sale__form--title">Delete Sale</h2>
        {% csrf_token %}
        {% comment %} Member deletion warning {% endcomment %}
        <div class="sale__form--suggestions">
          <div class="sale__form--warning">
            Are you sure you want to delete sale <strong>ID {{ sales.id }}</strong> made on
            <strong> {{ sales.date|date:'m/d/Y' }}</strong>?
          </div>
          <div class="sale__form--warning">
            This sale will <strong>permanently</strong> deleted from database.
          </div>
        </div>
        <div class="sale__buttons">
          {% comment %} Go back to sales {% endcomment %}
          <a href="{% url 'sales_list' %}" aria-label="Go back to Sales page"
            class="sale__form--btn sale__btn sale__back--btn">
            <div class=" sale__btn--text">Go back</div>
            <i class="far fa-window-close  sale__btn--icon"></i>
          </a>
          {% comment %} Submit changes {% endcomment %}
          <button type="submit" class="sale__form--btn sale__btn sale__confirm--btn">
            <div class="sale__btn--text">Delete</div>
            <i class="fas fa-trash-alt sale__btn--icon"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}