{% extends "base.html" %}
{% load static %}

{% block extra_js %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
    $(function () {

      $("#datepicker1").datepicker({
        dateFormat: 'yy-mm-dd',
      });
      $("#datepicker2").datepicker({
        dateFormat: 'yy-mm-dd',
      });
    });
  </script>
{% endblock%}

{% block content %}
  {% comment %} Main content to sales page only for bosses and sales managers {% endcomment %}
  {% if request.user.role == 0 or request.user.role == 2 %}
    <div class="sales">
      <div class="sales__header">
        <h2 class="sales__title">Sales</h2>
        {% comment %} Add sales button only for sales managers {% endcomment %}
        {% if request.user.role == 2 %}
          <a href="{% url 'sales_form' %}" class="sales__btn sales__add--btn sales__btn--custom">
            <div class="student__btn--text">
              Add new Sale
            </div>
            <i class="fas fa-plus-circle student__btn--icon"></i>
          </a>
        {% endif %}
      </div>

      {% if sales.count == 0 %}
        <p>Sales not found</p>
      {% else %}

        <h3>Search by date</h3>
        <form method="POST">
          {% csrf_token %}
          From: <input type="text" id="datepicker1" name="from_date">
          To: <input type="text" id="datepicker2" name="to_date">
          <input type="submit" value="search">
          <div class="sales">

            <div>
              {{ sales|length }} sales found
            </div>
            <ul>
              {% for sale in sales %}
              <li>
                Sold {{ sale.amount }} classes
                to:<a href="{% url 'user_profile' username=sale.sold_to.user.username %}">{{ sale.sold_to }}</a>
                by: <a href="{% url 'user_profile' username=sale.sold_by.user.username %}">{{ sale.sold_by }}</a>
                on {{ sale.date|date:'m/d/Y' }}
                {% if request.user.role == 2 %}
                <a href="{% url 'edit_sales' pk=sale.pk %}">Edit sale</a>
                <a href="{% url 'delete_sales' pk=sale.pk %}">Delete sale</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </form>
      {% endif %}
    </div>
  {% else %}
    {% comment %} Access limitation for all users accept bosses and sales managers {% endcomment %}
    <div class="access">
      <div class="access__error">
        <div class="access__error--image">
          <img src="{% static 'images/foxy_emoji.svg' %}" alt="Access error">
        </div>
        <p class="access__error--text">You are not authorized to view this page!</p>
        <div class="links">
          <a href="{% url 'user_profile' username=request.user %}" class="links__btn links__btn--name links__btn--content">
            <div class="profile__btn--text">
              Back to your profile
            </div>
            <i class="fas fa-external-link-alt profile__btn--icon"></i>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}