{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>All sales made</h2>
{% if request.user.role == 0 or request.user.role == 2 %}
{% if request.user.role == 2 %}
<div>
  <a href="{% url 'sales_form' %}">Add sale</a>

</div>
{% endif %}
{% if sales.count == 0 %}
<p>Sales not found</p>
{% else %}

<h3>Search by date</h3>
<form method="POST">
  {% csrf_token %}
  From: <input type="text" id="datepicker1" name="from_date">
  To: <input type="text" id="datepicker2" name="to_date">
  <input type="submit" value="search">
  <div class="sales">

    <div>
      {{ sales|length }} sales found
    </div>
    <ul>
      {% for sale in sales %}
      <li>
        Sold {{ sale.amount }} classes
        to:<a href="{% url 'user_profile' username=sale.sold_to.user.username %}">{{ sale.sold_to }}</a>
        by: <a href="{% url 'user_profile' username=sale.sold_by.user.username %}">{{ sale.sold_by }}</a>
        on {{ sale.date|date:'m/d/Y' }}
        {% if request.user.role == 2 %}
        <a href="{% url 'edit_sales' pk=sale.pk %}">Edit sale</a>
        <a href="{% url 'delete_sales' pk=sale.pk %}">Delete sale</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

  </div>

</form>
{% endif %}


{% else %}
<p>You are not authorized to view this page</p>
{% endif %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
  $(function () {

    $("#datepicker1").datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $("#datepicker2").datepicker({
      dateFormat: 'yy-mm-dd',
    });
  });
</script>


{% endblock %}