{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock%}

    {% block extra_meta %}
    {% endblock%}

    {% block corecss %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock%}

    {% block extra_css %}
    {% endblock%}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/7a0af02583.js" crossorigin="anonymous"></script>
    {% endblock%}

    {% block extra_js %}
    {% endblock%}

    <title>CoolSchool {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <header class="header">
      {% comment %} Navbar {% endcomment %}
      <nav class="navbar">
      {% comment %} Logo container {% endcomment %}
        <div class="logo__container">
          Cool<div class="logo__container--image"></div>School
        </div>
        {% comment %} Navbar content {% endcomment %}
        <ul class="navbar__items">
          {% if not request.user.is_authenticated %}
            <li class="navbar__item">
              <a href="{% url 'home' %}" aria-label="Go to Home page">Home</a>
            </li>
          {% endif %}
          {% comment %} Links for school members {% endcomment %}
          {% if request.user.is_authenticated %}
          <li class="navbar__item">
            <div id="dropdown-profile" class="dropdown navbar__item--dropdown">Menu</div>
            <ul class="account__options">
              <a href="{% url 'user_profile' username=request.user %}" aria-label="Go to Profile page"
                class="account__option">
                Profile
              </a>
              {% comment %} Links accessable to school staff only {% endcomment %}
              {% if request.user.role == 0 or request.user.role == 1 or request.user.role == 2 or request.user.role == 3 %}
                {% comment %} Links accessable to bosses and receptionists {% endcomment %}
                {% if request.user.role == 0 or request.user.role == 2 %}
                  <a  href="{% url 'new_applications' username=request.user %}" aria-label="Go to New Applications page"
                    class="account__option">
                    New applications
                  </a>
                  <a  href="{% url 'sales_list' %}" aria-label="Go to Sales page" class="account__option">Sales</a>
                {% endif %}
                <a href="{% url 'search_members' username=request.user %}" aria-label="Go to Members page"
                  class="account__option">
                  Members
                </a>
                <a href="{% url 'students' %}" aria-label="Go to Students page" class="account__option">Students</a>
              {% endif %}
              <a href="{% url 'lessons_list' %}" aria-label="Go to Schedule page" class="account__option">Schedule</a>
              <a href="{% url 'account_logout' %}" aria-label="Go to Logout"
                class="account__option account__option--logout">
                Logout
              </a>
            </ul>
          </li>
          {% comment %} Links acccessable to every member {% endcomment %}
          {% else %}
            <li class="navbar__item ">
              <div id="dropdown-enter" class="dropdown navbar__item--dropdown">Get started</div>
              <ul class="account__options">
                <a href="{% url 'account_login' %}" aria-label="Go to Login" class="account__option">
                  Login
                </a>
                <a href="{% url 'account_signup' %}" aria-label="Go to Sign Up" class="account__option">
                  Sign Up
                </a>
              </ul>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% comment %} Main content container {% endcomment %}
    <main class="main">
      <div class="content__container">
        {% if messages %}
        <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="footer__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium numquam natus id amet nostrum repellendus
        modi repudiandae, debitis assumenda molestiae rerum quos architecto nesciunt delectus ea est. Amet, maxime illum!
      </div>
    </footer>
    {% block postloadjs %}
      <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>