{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock%}

    {% block extra_meta %}
    {% endblock%}

    {% block corecss %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock%}

    {% block extra_css %}
    {% endblock%}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/7a0af02583.js" crossorigin="anonymous"></script>
    {% endblock%}

    {% block extra_js %}
    {% endblock%}

    <title>CoolSchool {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <header class="header">
      {% comment %} Navbar {% endcomment %}
      <nav class="navbar">
      {% comment %} Logo container {% endcomment %}
        <div class="logo__container">
          Cool<div class="logo__container--image"></div>School
        </div>
        {% comment %} Navbar content {% endcomment %}
        <ul class="navbar__items">
          {% if not request.user.is_authenticated %}
            <li class="navbar__item">
              <a href="{% url 'home' %}" aria-label="Go to Home page">Home</a>
            </li>
          {% endif %}
          {% comment %} Links for school members {% endcomment %}
          {% if request.user.is_authenticated %}
          <li class="navbar__item">
            <div id="dropdown-profile" class="dropdown navbar__item--dropdown">Menu</div>
            <ul class="account__options">
              <a href="{% url 'user_profile' username=request.user %}" aria-label="Go to Profile page"
                class="account__option">
                Profile
              </a>
              {% comment %} Links accessable to school staff only {% endcomment %}
              {% if request.user.role == 0 or request.user.role == 1 or request.user.role == 2 or request.user.role == 3 %}
                {% comment %} Links accessable to bosses and receptionists {% endcomment %}
                {% if request.user.role == 0 or request.user.role == 2 %}
                  <a  href="{% url 'new_applications' username=request.user %}" aria-label="Go to New Applications page"
                    class="account__option">
                    New applications
                  </a>
                  <a  href="{% url 'sales_list' %}" aria-label="Go to Sales page" class="account__option">Sales</a>
                {% endif %}
                <a href="{% url 'search_members' username=request.user %}" aria-label="Go to Members page"
                  class="account__option">
                  Members
                </a>
                <a href="{% url 'students' %}" aria-label="Go to Students page" class="account__option">Students</a>
              {% endif %}
              <a href="{% url 'lessons_list' %}" aria-label="Go to Schedule page" class="account__option">Schedule</a>
              <a href="{% url 'account_logout' %}" aria-label="Go to Logout"
                class="account__option account__option--logout">
                Logout
              </a>
            </ul>
          </li>
          {% comment %} Links acccessable to every member {% endcomment %}
          {% else %}
            <li class="navbar__item ">
              <div id="dropdown-enter" class="dropdown navbar__item--dropdown">Get started</div>
              <ul class="account__options">
                <a href="{% url 'account_login' %}" aria-label="Go to Login" class="account__option">
                  Login
                </a>
                <a href="{% url 'account_signup' %}" aria-label="Go to Sign Up" class="account__option">
                  Sign Up
                </a>
              </ul>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% comment %} Main content container {% endcomment %}
    <main class="main">
      <div class="content__container">
        {% if messages %}
          <div class="message-container">
            {% for message in messages %}
            <div class="message-container__message">
              <p class="message-container__message--text">{{ message }}</p>
            </div>
            {% endfor %}
          </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__content--logo">
          <div>Cool</div>
          <img src="{% static 'images/logo_footer.svg' %}" alt="Image of a globe" class="logo__image">
          <div>School</div>
        </div>
        <div class="footer__content--info">
          <div class="footer__info--item">
            <i class="fas fa-envelope-square"></i>
            <div class="footer__info--text">
              coolshool@gmail.com
            </div>
          </div>
          <div class="footer__info--item">
            <i class="fas fa-phone-square"></i>
            <div class="footer__info--text">
              +86 4544 3452 4598
            </div>
          </div>
          <div class="footer__info--item">
            <i class="fas fa-map-marker"></i>
            <div class="footer__info--text">
              China, Beijing, Shunyi District, MAPO, Xiangyue Four Seasons, East Third District, Building 28
            </div>
          </div>
        </div>


        <div class="footer__content--creator">
          <div class="creator__name">Creater: <span>Iuliia Konovalova</span></div>
          <ul class="creator__links">
            <li class="creator__link">
              <a href="mailto:JuliiaKonn@protonmail.com">
                <i class="fas fa-envelope-square"></i>
              </a>
            </li>
            <li class="creator__link">
              <a href="https://www.linkedin.com/in/iuliiakonovalova/" target="_blank" rel="noopener"
                aria-label="Visit Iuliia Konovalova LinkedIn page">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li class="creator__link">
              <a href="https://github.com/IuliiaKonovalova" target="_blank" rel="noopener"
                aria-label="Visit Iuliia Konovalova GitHub page">
                <i class="fab fa-github-square"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    {% block postloadjs %}
      <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>