{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Students{% endblock %}

{% block content %}
  {% comment %} Lesson's details page {% endcomment %}
  <div class="lesson__details">
  {% comment %} Subject name {% endcomment %}
    <div class="lesson__details--header">
      <div class="lesson__details--title">{{ lesson.get_subject }}</div>
      {% comment %} Rendering lesson btns only for receptionists {% endcomment %}
      {% if request.user.role == 3 %}
        <div class="profile__edit">
          <a href="{% url 'lesson_edit' pk=lesson.pk %}" class="profile__btn profile__edit--btn">
            <div class=" profile__btn--text">Edit</div>
            <i class="fas fa-edit  profile__btn--icon"></i>
          </a>
          <a href="{% url 'lesson_delete' pk=lesson.pk %}" class="profile__btn profile__password--btn">
            <div class=" profile__btn--text">Delete</div>
            <i class="fas fa-edit"></i>
          </a>
        </div>
      {% endif %}
    </div>
    {% comment %} Lesson's details {% endcomment %}
    <div class="lesson__details--container">
      {% comment %} Lesson's date {% endcomment %}
      <div class="lesson__details--data">
        <div class="lesson__details--subtitle">
          Date:
        </div>
        <div class="lesson__details--content">{{ lesson.date|date:'m/d/Y' }}</div>
      </div>
      <div class="lesson__details--data">
        {% comment %} Lesson's time {% endcomment %}
        <div class="lesson__details--subtitle">
          Time:
        </div>
        <div class="lesson__details--content">{{ lesson.get_time }}</div>
      </div>
      {% comment %} Lesson's teachers {% endcomment %}
      <div class="lesson__details--data">
        <div class="lesson__details--subtitle">
          Teachers:
        </div>
        <div class="lesson__details--content">
          {% for teacher in lesson.get_teachers %}
          <a href="{% url 'user_profile' username=teacher.user.username %}" class="links__btn links__btn--name">
            <div class="profile__btn--text">
              {{ teacher.user.first_name }} {{ teacher.user.last_name }}
            </div>
            <i class="fas fa-external-link-alt profile__btn--icon"></i>
          </a>
          {% endfor %}
        </div>
      </div>
      {% comment %} Lesson's students {% endcomment %}
      <div class="lesson__details--data">
        <div class="lesson__details--subtitle">
          Students:
        </div>
        <div class="lesson__details--content">
          {% for student in lesson.get_students %}
            {% comment %} Limit access to stydents profiles {% endcomment %}
            {% if request.user.role == 4 or request.user.role == 5 %}
              {% comment %} Let see parents their chilrend's profiles {% endcomment %}
              {% if request.user.username in student.get_parent_usernames %}
                <a href="{% url 'student_detail' pk=student.pk %}" class="links__btn links__btn--name">
                  <div class="profile__btn--text">
                    {{ student.first_name }} {{ student.last_name }}
                  </div>
                  <i class="fas fa-external-link-alt profile__btn--icon"></i>
                </a>
              {% comment %} Displays only name of students for the rest of student {% endcomment %}
              {% else %}
              {% comment %} Shows links to student's profiles to school's staff {% endcomment %}
              <div class="links__btn links__btn--name">
                <div class="">
                  {{ student.first_name }} {{ student.last_name }}
                </div>
              </div>
              {% endif %}
            {% else %}
              <a href="{% url 'student_detail' pk=student.pk %}" class="links__btn links__btn--name">
                <div class="profile__btn--text">
                  {{ student.first_name }} {{ student.last_name }}
                </div>
                <i class="fas fa-external-link-alt profile__btn--icon"></i>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}