{% extends 'base.html' %}

{% block content %}

<a href="{% url 'lesson_add' %}">Add lesson</a>

<div>Today is: {% now 'm/d/Y' %}</div>


<h3>Search by date</h3>

<input id="schedule-by-date" value="{% now 'm/d/Y' %}"></input>
<input type="submit" value="search">

<div>
  <h3>'9:00-9:45'</h3>
  <div>
    {% for lesson in lessons_time_0 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>

<div>
  <h3>'10:00-10:45'</h3>
  <div>
    {% for lesson in lessons_time_1 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>
<div>
  <h3>'11:00-11:45'</h3>
  <div>
    {% for lesson in lessons_time_2 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>
<div>
  <h3>'14:00-14:45'</h3>
  <div>
    {% for lesson in lessons_time_3 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>
<div>
  <h3>'15:00-15:45'</h3>
  <div>
    {% for lesson in lessons_time_4 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>
<div>
  <h3>'16:00-16:45'</h3>
  <div>
    {% for lesson in lessons_time_5 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>
<div>
  <h3>'17:00-17:45'</h3>
  <div>
    {% for lesson in lessons_time_6 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>
<div>
  <h3>'18:00-18:45'</h3>
  <div>
    {% for lesson in lessons_time_7 %}
    <div data-date="{{ lesson.date|date:'m/d/Y' }}">
      <a href="{% url 'lesson_detail' pk=lesson.pk %}">
        {{ lesson.date|date:'m/d/Y' }}
        {{ lesson.get_time }}
        {{ lesson.get_subject }}
      </a>
    </div>

    {% endfor %}
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  const lessons = document.querySelectorAll('div[data-date]');
  lessons.forEach(function (lesson) {
    lesson.style.display = 'none';
  });
  // show data for today lessons
  const date = document.querySelector('#schedule-by-date');
  $(document).ready(function () {
    let lessonsToday = document.querySelectorAll('[data-date="' + date + '"]');
    for (let lesson of lessons) {
      if (lesson.getAttribute('data-date') === date.value) {
        lesson.style.display = 'block';
      } else {
        lesson.style.display = 'none';
      }
    }
    for (let lesson of lessonsToday) {
      lesson.style.display = 'block';
    }
  });

  // Function to add data according to date chosen
  $(function () {
    $('#schedule-by-date').datepicker({
      dateFormat: 'mm/dd/yy',
      // add data on page load  from the value of the input
      onSelect: function (dateText, inst) {
        let lessonsToday = document.querySelectorAll('[data-date="' + dateText + '"]');
        for (let lesson of lessons) {
          lesson.style.display = 'none';
        }
        for (let lesson of lessonsToday) {
          lesson.style.display = 'block';
        }
      }
    });
  });
</script>

{% endblock %}