<!-- Add form -->
{% extends "base.html" %}

{% block content %}

<h2>Add class</h2>

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('select').addClass('js-example-basic-single');

    $('.js-example-basic-single').select2({
      placeholder: 'Type name to search',
    });
    $('#div_id_assigned_to').css('width', '100%');
    $('.select2').css('width', '100%');
  });
  $(function () {
    $("#id_date").datepicker();
  });

</script>

{% endblock %}