{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Students{% endblock %}

{% block content %}
  {% comment %} Add lesson page with access only by receptionists {% endcomment %}
  <div class="lesson__new">
    <div class="lesson__form--container">
      <h2 class="lesson__form__delete--title">Lesson Deletion</h2>
      <form method="POST" class="lesson__form">
        {% csrf_token %}
        <div class="lesson__form--suggestions">
          <div>Are you sure you want to delete this lesson?</div>
          <div class="delete__form--warning">
            <div class="schedule__section--lessons lesson__link">
              <a href="{% url 'lesson_detail' pk=lesson.pk %}" aria-label="Go to back to lesson page"
                class="schedule__section--lesson links__btn">
                <div class="lesson__btn--text lesson__link">
                  {{ lesson.get_subject }}
                </div>
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
          <div>The lesson will be <strong>permanently</strong> deleted.</div>
        </div>
        <div class="profile__buttons">
          {% comment %} Go back to application detail page {% endcomment %}
          <a href="{% url 'lessons_list' %}"  aria-label="Go to back to schedule page"
            class="profile__form--btn profile__btn profile__back--btn">
            <div class=" profile__btn--text">
              Cancel
            </div>
            <i class="far fa-window-close  profile__btn--icon"></i>
          </a>
          {% comment %} Submit application's deletion {% endcomment %}
          <button type="submit" name="delete" class="profile__form--btn profile__btn profile__confirm--btn">
            Delete<i class="fas fa-trash-alt search__btn--icon"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}